{% extends "admin/base_site.html" %}
{% load admin_misc %}
{% block title %}Створити родичів{{ block.super }}{% endblock %}

<!-- LOADING -->
{% load admin_static i18n admin_modify admin_urls grp_tags %}

<!-- STYLESHEETS -->
{% block stylesheets %}
    {{ block.super }}
    <style type="text/css">
        .suggest-link.selected {
            color: purple;
        }
    </style>
{% endblock %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
    {{ media }}
    <script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>    

    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../../jsi18n/' }}"></script>
    <script type="text/javascript" charset="utf-8">
        (function($) {
            $(document).ready(function() {
                grappelli.initDateAndTimePicker();
                $("#grp-content-container .grp-group").grp_collapsible_group();
                $("#grp-content-container .grp-collapse").grp_collapsible({
                    on_init: function(elem, options) {
                        // open collapse (and all collapse parents) in case of errors
                        if (elem.find("ul.errorlist").length > 0) {
                            elem.removeClass("grp-closed")
                                .addClass("grp-open");
                            elem.parents(".grp-collapse")
                                .removeClass("grp-closed")
                                .addClass("grp-open");
                        }
                    }
                });
                var related_lookup_fields_fk = {% get_related_lookup_fields_fk adminform.model_admin %};
                var related_lookup_fields_m2m = {% get_related_lookup_fields_m2m adminform.model_admin %};
                var related_lookup_fields_generic = {% get_related_lookup_fields_generic adminform.model_admin %};
                var autocomplete_fields_fk = {% get_autocomplete_lookup_fields_fk adminform.model_admin %};
                var autocomplete_fields_m2m = {% get_autocomplete_lookup_fields_m2m adminform.model_admin %};
                var autocomplete_fields_generic = {% get_autocomplete_lookup_fields_generic adminform.model_admin %};
                $.each(related_lookup_fields_fk, function() {
                    $("#id_" + this).grp_related_fk({lookup_url:"{% url 'grp_related_lookup' %}"});
                });
                $.each(related_lookup_fields_m2m, function() {
                    $("#id_" + this).grp_related_m2m({lookup_url:"{% url 'grp_m2m_lookup' %}"});
                });
                $.each(related_lookup_fields_generic, function() {
                    var content_type = "#id_" + this[0],
                        object_id = "#id_" + this[1];
                    $(object_id).grp_related_generic({content_type:content_type, object_id:object_id, lookup_url:"{% url 'grp_related_lookup' %}"});
                });
                $.each(autocomplete_fields_fk, function() {
                    $("#id_" + this).grp_autocomplete_fk({
                        lookup_url:"{% url 'grp_related_lookup' %}",
                        autocomplete_lookup_url:"{% url 'grp_autocomplete_lookup' %}"
                    });
                });
                $.each(autocomplete_fields_m2m, function() {
                    $("#id_" + this).grp_autocomplete_m2m({
                        lookup_url:"{% url 'grp_m2m_lookup' %}",
                        autocomplete_lookup_url:"{% url 'grp_autocomplete_lookup' %}"
                    });
                });
                $.each(autocomplete_fields_generic, function() {
                    var content_type = "#id_" + this[0],
                        object_id = "#id_" + this[1];
                    $(object_id).grp_autocomplete_generic({
                        content_type:content_type,
                        object_id:object_id,
                        lookup_url:"{% url 'grp_related_lookup' %}",
                        autocomplete_lookup_url:"{% url 'grp_autocomplete_lookup' %}"
                    });
                });
                $("a#grp-open-all").bind("click", function(){
                    $("#grp-content .grp-collapse-handler").each(function() {
                        $(this).parent(".grp-collapse").removeClass("grp-closed").addClass("grp-open");
                    });
                });
                $("a#grp-close-all").bind("click", function(){
                    $("#grp-content .grp-collapse-handler").each(function() {
                        $(this).parent(".grp-collapse").removeClass("grp-open").addClass("grp-closed");
                    });
                });
                // HACK: get rid of currently/change with URL–fields. F**K!!!
                $('p.url').each(function() {
                    $(this).find("a").remove();
                    var text = $(this).html();
                    text = text.replace(/^\w*: /, "");
                    text = text.replace(/<br>.*: /, "");
                    $(this).html(text);
                });
                // HACK: rearrange inlines
                $('div.grp-group').each(function() {
                    var placeholder = $("fieldset.placeholder."+$(this).attr("id"));
                    if (placeholder.length) {
                        $(placeholder).replaceWith($(this));
                    }
                });
                // HACK: remove input types
                var clean_input_types = "{% grappelli_clean_input_types %}";
                if (clean_input_types == "True") {
                    grappelli.cleanInputTypes();
                };
            });
        })(grp.jQuery);
    </script>    
{% endblock %}

{% block extrahead %}
    {{ block.super }}
{% endblock %}

{% block content-class %}{% endblock %}

<!-- CONTENT -->
{% block content %}
    <script type="text/javascript">
        (function($) {
            $(function() {
                $(".suggest-link").on("click", function(e) {
                    e.preventDefault();
                    var el = $(this),
                        parent = el.closest("td")
                        grandparent = parent.closest("tr");

                    parent.find(".rcpt_id").val(el.data("id"));
                    parent.find(".rel_id").val(el.data("rel_id"));
                    parent.find(".last_name_input").val(el.data("last_name"));
                    parent.find(".suggest-link").toggleClass("selected", false);
                    el.toggleClass("selected", true);

                    if (el.data("first_name").length > parent.find(".first_name_input").val().length)
                        parent.find(".first_name_input").val(el.data("first_name"));
                    if (el.data("patronymic").length > parent.find(".patronymic_input").val().length)
                        parent.find(".patronymic_input").val(el.data("patronymic"));

                    if (el.data("from").length) {
                        grandparent.find(".relation_from").val(el.data("from"));
                    }
                    if (el.data("to").length) {
                        grandparent.find(".relation_to").val(el.data("to"));
                    }
                });
            });
        })(django.jQuery);
    </script>
    <div class="grp-module">
        <form method="POST" action="{% url 'admin:store_relatives' %}">
        <input type="hidden" name="redirect_back" value="{{ referer }}" />
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>Створити</th>
                    <th>Фізична особа</th>
                    <th>Фізична особа є</th>
                    <th>ПІБ родича</th>
                    <th>Родич є</th>
                    <th>Дата народження</th>
                </tr>
            </thead>
            <tbody>
                {% for r in qs %}
                    {% for member in r.family %}
                    <tr class="grp-row {% cycle 'grp-row-odd' 'grp-row-even' %}">
                        <td>
                            <input type="hidden" name="person_{{ r.pk }}_{{ forloop.counter }}_id" value="{{ r.person_id }}" />
                            <input type="checkbox" name="iswear" value="{{ r.pk }}_{{ forloop.counter }}" checked />
                        </td>
                        <td>
                            <a href="{{ r.person.get_absolute_url }}" target="_blank">
                            {{ r.person.last_name_uk }}
                            {{ r.person.first_name_uk }}
                            {{ r.person.patronymic_uk }}</a>,<br/>
                            {{ r.person.last_workplace.company }}, {{ r.person.last_workplace.position }}
                        </td>
                        <td>
                            <select name="person_{{ r.pk }}_{{ forloop.counter }}_relation_from" style="width: 150px" class="relation_from">
                            <option value=""></option>
                            {% for rel in relations %}
                                <option value="{{ rel }}">{{ rel }}</option>
                            {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="hidden" name="person_{{ r.pk }}_{{ forloop.counter }}_rcpt_id" value="" class="rcpt_id" />
                            <input type="hidden" name="person_{{ r.pk }}_{{ forloop.counter }}_rel_id" value="" class="rel_id" />
                            <input type="hidden" name="person_{{ r.pk }}_{{ forloop.counter }}_declaration_id" value="{{ r.pk }}" />
                            <input type="text" name="person_{{ r.pk }}_{{ forloop.counter }}_last_name" value="{{ member.last_name }}" style="margin-bottom: 4px!important" class="last_name_input"/>
                            <input type="text" name="person_{{ r.pk }}_{{ forloop.counter }}_first_name" value="{{ member.first_name }}" style="margin-bottom: 4px!important" class="first_name_input"/>
                            <input type="text" name="person_{{ r.pk }}_{{ forloop.counter }}_patronymic" value="{{ member.patronymic }}" style="margin-bottom: 4px!important" class="patronymic_input"/>
                            {% if member|suggest:r.person.id %}
                                <br />
                                <strong>Вже є в БД PEP:</strong>
                                <ul>
                                {% for rcpt in member|suggest:r.person.id %}
                                    <li>
                                        <a href="#"
                                            class="suggest-link"
                                            data-from="{{ rcpt.from }}"
                                            data-rel_id="{{ rcpt.rel_id }}"
                                            data-reverse="{{ rcpt.reverse }}"
                                            data-to="{{ rcpt.to }}"
                                            data-last_name="{{ rcpt.subject.last_name_uk }}"
                                            data-first_name="{{ rcpt.subject.first_name_uk }}"
                                            data-patronymic="{{ rcpt.subject.patronymic_uk }}"
                                            data-id="{{ rcpt.subject.id }}">
                                            {{ rcpt.subject.last_name_uk }} {{ rcpt.subject.first_name_uk }} {{ rcpt.subject.patronymic_uk }},
                                            {% if rcpt.rel_id %}
                                                <strong {% if rcpt.reverse %}style="color: red;"{% endif %}>Зв'язок ({{ rcpt.from }}->{{ rcpt.to }}) вже встановлено</strong>
                                            {% endif %}
                                        </a><br />
                                            {% if rcpt.subject.last_workplace.company %}
                                                {{ rcpt.subject.last_workplace.company }},
                                            {% endif %}
                                            {% if rcpt.subject.last_workplace.position %}
                                                {{ rcpt.subject.last_workplace.position }}
                                            {% endif %}

                                        {% for rel in rcpt.subject.all_related_persons.family %}
                                            {% if rel.reverse_rtype %}{{ rel.reverse_rtype }} до {% endif %}
                                            {{ rel.last_name_uk }} {{ rel.first_name_uk }} {{ rel.patronymic_uk }}
                                            <br />
                                        {% endfor %}
                                    </li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                        <td>
                            <select name="person_{{ r.pk }}_{{ forloop.counter }}_relation_to" style="width: 150px" class="relation_to">
                            {% for rel in relations %}
                            <option value="{{ rel }}" {% if rel == member.mapped %}selected="selected"{% endif %}>{{ rel }}</option>
                            {% endfor %}
                            </select> {{ member.relation }}
                        </td>
                        <td>
                            {% if member.dob %}{{ member.dob }} <br/><br/>{% endif %}
                            <input class="vDateField" id="id_person_{{ r.pk }}_{{ forloop.counter }}_dob" name="person_{{ r.pk }}_{{ forloop.counter }}_dob" size="10" type="text" style="margin-bottom: 9px!important" value="{{ member.dob }}" /><br/>
                            <select name="person_{{ r.pk }}_{{ forloop.counter }}_dob_details">
                                <option value="0">Точна дата</option>
                                <option value="1">Рік та місяць</option>
                                <option value="2">Тільки рік</option>
                           </select>
                        </td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        <footer class="grp-module grp-submit-row grp-fixed-footer" id="submit">
            <ul>
                <li><input type="submit" value="СТВОРИТИ ВІДМІЧЕНИХ РОДИЧІВ" name="_save" class="grp-button grp-default"></li>
            </ul>
        </footer>
        </form>
    </div>
{% endblock %}
