{% extends "admin/base_site.html" %}

{% block title %}Створити родичів{{ block.super }}{% endblock %}

<!-- LOADING -->
{% load admin_static i18n admin_modify admin_urls grp_tags %}

<!-- STYLESHEETS -->
{% block stylesheets %}
    {{ block.super }}
{% endblock %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
    {{ media }}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
{% endblock %}

{% block content-class %}{% endblock %}

<!-- CONTENT -->
{% block content %}
    <div class="grp-module">
        <form method="POST" action="">
        <table>
            <thead>
                <tr>
                    <th>Створити</th>
                    <th>Фізична особа</th>
                    <th>Прізвище родича</th>
                    <th>Ім'я родича</th>
                    <th>По-батькові родича</th>
                    <th>Вид зв'язку</th>
                </tr>
            </thead>
            <tbody>
                {% for r in qs %}
                    {% for member in r.family %}
                    <tr class="grp-row {% cycle 'grp-row-odd' 'grp-row-even' %}">
                        <td>
                            <input type="hidden" name="person_{{loop.index}}_id" value="{{ r.person_id }}" />
                            <input type="checkbox" name="iswear" value="{{ loop_index }}" checked />
                        </td>
                        <td>
                            {{ r.person.last_name_uk }}
                            {{ r.person.first_name_uk }}
                            {{ r.person.patronymic_uk }}
                        </td>
                        <td>
                            <input type="text" name="person_{{loop.index}}_last_name" value="{{ member.last_name }}" />
                        </td>
                        <td>
                            <input type="text" name="person_{{loop.index}}_first_name" value="{{ member.first_name }}" />
                        </td>
                        <td>
                            <input type="text" name="person_{{loop.index}}_patronymic" value="{{ member.patronymic }}" />
                        </td>
                        <td>
                            <select name="person_{{loop.index}}_relation">
                            {% for rel in relations %}
                            <option value="{{ rel }}" {% if rel == member.mapped %}selected="selected"{% endif %}>{{ rel }}</option>
                            {% endfor %}
                            </select> {{ member.relation }}
                        </td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        <footer class="grp-module grp-submit-row grp-fixed-footer" id="submit">
            <ul>
                <li><input type="submit" value="СТВОРИТИ ВІДМІЧЕНИХ РОДИЧІВ" name="_save" class="grp-button grp-default"></li>
            </ul>
        </footer>
        </form>
    </div>
{% endblock %}
