{% macro render_connection(connection, id) %}
    {% if connection.has_additional_info %}
        <div class="modalConnectionBox modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ _("Підтвердження зв'язку") }}</h4>
                    </div>
                    <div class="modal-body">
                        {% if connection.date_established %}
                            <p><b>{{ _("Зв'язок почався: ") }}</b>{{ connection.date_established_human }}</p>
                        {% endif %}
                                            
                        {% if connection.date_finished %}
                            <p><b>{{ _("Зв'язок скінчився: ") }}</b>{{ connection.date_finished_human }}</p>
                        {% endif %}
                                            
                        {% if connection.date_confirmed %}
                            <p><b>{{ _("Підтверджено: ") }}</b>{{ connection.date_confirmed_human }}</p>
                        {% endif %}

                        {% if connection.proof_title or connection.proof %}
                            {% set proofs = connection.proof.split(", ") %}
                            <p>
                                <b>{{ _("Доказ зв'язку: ") }}</b>
                                {% if proofs|length <= 1 %}
                                    {% if connection.proof %}
                                        <a href="{{ connection.proof }}" target="_blank">
                                    {% endif %}
                                    {% if LANGUAGE_CODE == "en" %}
                                        {{ _("Посилання") }}
                                    {% else %}
                                        {{ connection.proof_title|default(_("Посилання"), true) }}
                                    {% endif %}
                                    {% if connection.proof %}
                                        </a>
                                    {% endif %}
                                {% else %}
                                    {% set comma = joiner(", ") %}
                                    {% for proof in proofs -%}
                                        {{ comma() }}<a href="{{ proof }}" target="_blank">{{ _("Посилання") }}</a>
                                    {%- endfor %}
                                {% endif %}
                            </p>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Закрити") }}</button>
                    </div>
                </div>
            </div>
        </div>
   {% endif %}
{% endmacro %}

{% macro render_related_person(person, type, for_company=False) %}
    <li itemprop="{% if type == "family" %}relatedTo{% elif type == "worked" %}employee{% else %}knows{% endif %}" itemscope itemtype="http://schema.org/Person">
        <a href="{{ person.get_absolute_url() }}" itemprop="url">
            <span class="{% if person.is_pep %}is_pep {% endif %}name-pill" itemprop="name">
                <span itemprop="familyName">{{ person.last_name }}</span> <span itemprop="givenName">{{ person.first_name }}</span> <span itemprop="additionalName">{{ person.patronymic }}</span>
            </span>
        </a> &ndash;

        {% if for_company %}
            {{ person.connection.relationship_type }}
        {% else %}
            {% if person.rtype %}{{ _(person.rtype) }},{% endif %}
        {% endif %}
        {% if person.connection.has_additional_info %}
            <a href="#" class="modalConnectionShow" data-toggle="modal" data-target="#modalPerson-{{ person.pk }}">
               <i class="fa fa-info-circle info-gray"></i>
            </a>
        {% endif %}
        {% if person.dob %}<meta itemprop="birthDate" content="{{ person.dob }} "/>{% endif %}

        {% set last_workplace = person.translated_last_workplace %}
        {% if last_workplace and type != "worked" %}
        <a href="{{ url("company_details", company_id=last_workplace.company_id) }}" itemscope itemtype="http://schema.org/Organization" itemprop="worksFor"><span itemprop="name">{{ last_workplace.company }}</span></a>,
        <span itemprop="jobTitle">{{ last_workplace.position }}</span>
        {% endif %}

        {{ render_connection(person.connection, "modalPerson-{}".format(person.pk)) }}
    </li>
{% endmacro %}

{% macro render_company_persons(persons, prefix) %}
    {% for person in persons %}
        <div class="panel panel-default">
            <div class="panel-body" itemscope itemtype="http://schema.org/Person" itemprop="affiliation">
                <a href="{{ person.get_absolute_url() }}"><span itemprop="name">{{ person }}</span></a>
                {% set last_workplace = person.translated_last_workplace %}
                {% if last_workplace and last_workplace.company not in [company.name, company.short_name] %}<br/>
                <a href="{{ url("company_details", company_id=last_workplace.company_id) }}" itemscope itemtype="http://schema.org/Organization" itemprop="worksFor"><span itemprop="name">{{ last_workplace.company }}</span></a>,
                <span itemprop="jobTitle">{{ last_workplace.position }}</span>
                {% endif %}
            </div>
            <div class="panel-footer">
                {{ person.connection.relationship_type }}
                {% if person.connection.has_additional_info %}
                <a href="#" class="modalConnectionShow" data-toggle="modal" data-target="#modal{{ prefix }}-{{ loop.index }}">
                    <i class="fa fa-info-circle info-gray"></i>
                </a>
                {% endif %}
            </div>
        </div>

        {{ render_connection(person.connection, "modal{}-{}".format(prefix, loop.index)) }}
    {% endfor %}
{% endmacro %}

{% macro render_company_companies(companies, prefix) %}
    {% for company in companies %}
        <div class="panel panel-default">
            <div class="panel-body" itemscope itemtype="http://schema.org/Organization" itemprop="affiliation">
                <a href="{{ company.get_absolute_url() }}"><span itemprop="name">{{ company }}</span></a>
            </div>
            <div class="panel-footer">
                {{ company.connection.relationship_type }}
                {% if company.connection.has_additional_info %}
                <a href="#" class="modalConnectionShow" data-toggle="modal" data-target="#modal{{ prefix }}-{{ loop.index }}">
                    <i class="fa fa-info-circle info-gray"></i>
                </a>
                {% endif %}
            </div>
        </div>

        {{ render_connection(company.connection, "modal{}-{}".format(prefix, loop.index)) }}
    {% endfor %}
{% endmacro %}