{% macro render_person(p, include_related_persons=True) %}
    <div class="small-profile {% if p.is_pep %}fizik{% else %}linked{% endif %} col-sm-6 {% if p.is_dead %}not{% endif %}" itemscope itemtype="http://schema.org/Person">
        <link itemprop="url" href="{{ url("person_details", person_id=p.id) }}" />
        {% if p.is_dead %}<div class="info-label">Помер</div>{% endif %}
        <div class="box active-box" data-url="{{ url("person_details", person_id=p.id) }}">
            <header class="profile-header">
                <div class="avatar">
                {% if p.photo_path %}
                    <img src="{{ p.photo_path|thumbnail_url("small_avatar") }}" itemprop="image" />
                {% endif %}
                </div>

                <h3 class="pep-name" itemprop="name">
                    <span itemprop="familyName">{{ p.translated_last_name }}</span> <span class="pep-pib"><span itemprop="givenName">{{ p.translated_first_name }}</span> <span itemprop="additionalName">{{ p.translated_patronymic }}</span>
                </h3>
            </header>

            <div class="descr">
                {% if p.date_of_birth %}
                <meta itemprop="birthDate" content="{{ p.dob }} "/>
                <p><span>{{ _("Дата народження") }}:</span> {{ p.date_of_birth }}</p>
                {% endif %}
                {% if p.last_workplace %}
                <p>
                    <span>{{ _("Остання посада") }}:</span>
                    {% if p.last_job_id %}
                        <a href="{{ url("company_details", company_id=p.last_job_id) }}" itemprop="worksFor" itemscope itemtype="http://schema.org/Organization"><span itemprop="name">{{ p.translated_last_workplace }}</span></a>,
                    {% else %}
                        <span itemprop="worksFor" itemscope itemtype="http://schema.org/Organization"><span itemprop="name">{{ p.translated_last_workplace }}</span></span>,
                    {% endif %}
                    <span itemprop="jobTitle">{{ p.translated_last_job_title }}</span>
                </p>
                {% endif %}

                {% if include_related_persons or not p.is_pep %}
                    {% set relevant_related_persons = p.relevant_related_persons()[:4] %}
                    {% if relevant_related_persons %}
                    <p>
                        {% for rel in relevant_related_persons %}
                            <span>{{ _("Зв'язок") }}:</span> {% if rel.relationship_type %}{{ _(rel.relationship_type) }}, {% endif %}
                            {% if LANGUAGE_CODE =="en" %}{{ rel.person_en }}{% else %}{{ rel.person_uk }}{% endif %}<br />
                        {% endfor %}
                    </p>
                    {% endif %}
                {% endif %}

                {#% if p.risk_category %}
                <p>
                    <span class="tooltip-anchor" data-toggle="tooltip" data-placement="bottom" title="{{ _("Відповідно до методології, національним публічним діячам присвоюється такі ступені ризику відмивання коштів: неприйнятно високий; високий; середній; низький") }}">
                        <span>{{ _("Рівень ризику") }}:</span>
                        <span class="riskLevel">{{ _(p.risk_category) }}</span>
                    </span>
                </p>
                {% endif %#}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_company(c) %}
    <div class="small-profile yurik col-sm-6 {% if c.is_not_pep %}not{% endif %}" itemscope itemtype="http://schema.org/Organization">
        <link itemprop="url" href="{{ url("company_details", company_id=c.id) }}" />
        {% if c.is_dead %}<div class="info-label">Не пеп</div>{% endif %}
        <div class="box active-box" data-url="{{ url("company_details", company_id=c.id) }}">
            <header class="profile-header">
                <div class="avatar">
                </div>

                <h3 class="pep-name" itemprop="name">
                    <span>{{ c.translated_name }}</span>
                </h3>
            </header>

            <div class="descr">
                {% if c.edrpou %}
                    <p><span>{{ _("ЄДРПОУ") }}:</span> {{ c.edrpou }}</p>
                {% endif %}

                {% set relevant_related_persons = c.relevant_related_persons()[:3] %}
                {% if relevant_related_persons %}
                <p>
                    {% for rel in relevant_related_persons %}
                        <span>{{ _("Зв'язок") }}:</span>
                        {% if LANGUAGE_CODE =="en" %}
                            {# fugly! #}
                            {% if rel.relationship_type_en or rel.relationship_type_uk %}{{ rel.relationship_type_en|default(rel.relationship_type_uk) }}, {% endif %}
                            {{ rel.person_en }}
                        {% else %}
                            {% if rel.relationship_type_uk %}{{ rel.relationship_type_uk }}, {% endif %}
                            {{ rel.person_uk }}
                        {% endif %}<br />
                    {% endfor %}
                </p>
                {% endif %}

                {% if c.is_not_pep %}
                    <p class="non-pep-info">
                        <span>25.12.2018</span> Пов'язана особа або член сім'ї - ПЕП припинив бути ПЕПом
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}