Django==1.11.10
django-jinja==2.3.1
psycopg2
cairocffi==0.8.0
CairoSVG==1.0.16
django-select2-forms==2.0.2
django-modeltranslation==0.12.1
unicodecsv==0.9.4
django-grappelli==2.10.1
-e git+https://github.com/dchaplinsky/grappelli-modeltranslation.git#egg=master
requests==2.18.4
translitua==1.2.1
rfc6266==0.0.4
django-wysiwyg-redactor==0.5.1
django-pipeline==1.6.13
wagtail==1.11.1
oauth2client==1.4.12
pyOpenSSL==17.5.0
gspread==0.2.5
WeasyPrint==0.24
-e git+https://github.com/barseghyanartur/django-qartez@master#egg=django-qartez
django-recaptcha==1.0.4
easy-thumbnails==2.4.1
jsonfield==1.0.3
cryptography==2.1.4
raven==6.3.0
elasticsearch-dsl==5.3.0
python-levenshtein==0.12.0
XlsxWriter==1.0.0
django-pickling==1.0
django-cacheops==4.0.1
Jinja2==2.9.6
django-nested-admin==3.0.21
fuzzywuzzy==0.16.0
ijson==2.3