{% extends "base.jinja" %}

{% block body_class %}front{% endblock %}

{% block extra_menu %}
    {% if request.user.is_superuser %}
        <li class="edit-page">
            <a href="{{ url('wagtailadmin_pages:edit', page.id) }}" target="_blank"><i class="fa fa-pencil-square-o"></i></a>
        </li>
    {% endif %}
{% endblock %}

{% block mini_search %}
{% endblock %}

{% block content %}
    <section id="searchbox" class="">
        <div class="container">
            <div class="row">
                <h1 class="text-center">{{ page.translated_title }}</h1>

                <div class="description text-center">
                    {{ page.translated_subtitle|richtext }}
                </div>

                <div class="col-lg-6 col-md-8 col-xs-12 col-lg-offset-3 col-md-offset-2">
                    <form id="pep-search" action="{{ url("search") }}" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="{{ _("Введіть ім'я або назву компанії") }}" name="q" data-provide="typeahead" id="search-form" autocomplete="off" data-endpoint="{{ url("suggest") }}" />
                            <input type="hidden" name="is_exact" value="" />
                            <span class="input-group-btn"><button class="btn btn-danger" type="submit">{{ _("Перевірити") }}</button></span>
                        </div>
                    </form>
                    <!-- /input-group --> 
                </div>
                <div class="clearfix"></div>
                <div class="description text-center">
                    {{ page.translated_body|richtext }}
                </div>
            </div>
        </div>
    </section>           
    
    <section id="hp-columns">
        <div class="container">      
            <div class="row">
                <div class="col-sm-4 text-center">
                    <h3>{{ persons_total }}</h3>
                    {{ _("Профілів фізичних осіб") }}
                </div>
                <div class="col-sm-4 text-center">
                    <h3>{{ persons_pep }}</h3>
                    {{ _("Профілів публічних діячів") }}
                </div>
                <div class="col-sm-4 text-center">
                    <h3>{{ persons_related }}</h3>
                    {{ _("Профілів пов'язаних та близьких осіб") }}
                </div>
            </div>
        </div>
    </section>
    

    <section id="oursponsors">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 oursponsors-text">
                    {{ root_page.translated_credits|richtext }}
                </div>
            </div>
        </div>
    </section>
    
    <section id="oursponsors-logo">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row-flex">
                        <div class="col-flex col-logo">
                            <img src="{{ static("images/60px-Flag_of_Europe.svg.png") }}">
                        </div>
                        <div class="col-flex">
                            {{ root_page.translated_eu_desc|richtext }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row-flex">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="cp"></div> <!--   clear padding  -->
{% endblock %}