{% extends "base.jinja" %}

{% block body_class %}front{% endblock %}

{% block extra_menu %}
    {% if request.user.is_superuser %}
        <li>
            <a href="{{ url('wagtailadmin_pages_edit', page.id) }}" target="_blank"><i class="fa fa-pencil-square-o"></i></a>
        </li>
    {% endif %}
{% endblock %}

{% block mini_search %}
    <div class="antac-logo"></div>
{% endblock %}

{% block content %}
    <section id="searchbox" class="">
        <div class="container">
            <div class="row">
                <h1 class="text-center">{{ page.title }}</h1>
                <div class="description">
                    {{ page.body|richtext }}
                </div>

                <div class="col-lg-6 col-md-8 col-xs-12 col-lg-offset-3 col-md-offset-2">
                    <form id="pep-search" action="{{ url("search") }}" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="{{ _("Введіть ім'я") }}" name="q" data-provide="typeahead" id="search-form" autocomplete="off" />
                            <input type="hidden" name="is_exact" value="" />
                            <span class="input-group-btn"><button class="btn btn-danger" type="submit">{{ _("Перевірити") }}</button></span>
                        </div>
                    </form>
                    <!-- /input-group --> 
                </div>
            </div>
        </div>
    </section>

    {% if page.columns %}
    <selection id="hp-columns">
        <div class="container">
            <div class="row">
                {% for column in page.columns.all()[:3] %}
                <div class="col-md-4">
                    <h3>{{ column.title }}</h3>
                    {{ column.body|richtext }}
                </div>
                {% endfor %}
            </div>
        </div>
    </selection>
    {% endif %}    

    {% if page.banners %}
    <selection id="sponsors">
        <div class="container">
            <div class="row">
                {% for banner in page.banners %}
                    {% if banner.image %}
                    <div class="sponsor text-center col-md-3 col-xs-6">
                        <a href="{{ banner.link }}" target="_blank">
                        <img src="{{ banner.image.get_rendition("original").url }}" alt="{{ banner.caption }}" class="img-responsive mc"
                        title="{{ banner.caption }}"/>
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </selection>
    {% endif %}

    <div class="cp"></div> <!--   clear padding  -->
{% endblock %}