{% extends "base.jinja" %}

{% block extra_menu %}
    {% if request.user.is_superuser %}
        <li>
            <a href="{{ url('wagtailadmin_pages_edit', page.id) }}" target="_blank">[{{ _("Редагувати") }}]</a>
        </li>
    {% endif %}
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div id="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="{{ url("home") }}">Головна</a></li>
                <li class="active">{{ page.title }}</li>
            </ol>
        </div>
        <section id="profile" class="col-lg-8">
            <h1>{{ page.title }}</h1>
            <div>
                {{ page.body|richtext }}
            </div>
        </section>
    </div>
</div>
{% endblock %}