.mt-field-name-uk {
    max-width: 500px!important;
}

.grp-changelist-results table .vTextField {
    max-width: 150px;
}

.field-status select {
    max-width: 150px!important;
}

.c2c-block .grp-module, .c2c-block .grp-td {
    background: #fffee8!important;
}

.p2c-block .grp-module, .p2c-block .grp-td {
    background: #e9ffe2!important;
}

.c2country-block .grp-module, .c2country-block .grp-td {
    background: #ffeff1!important;
}