 <div id="declarations" class="sub box">
    <h3>{{ _("Дані з декларації про доходи:") }}</h3>
    <div class="printWrap">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="decl-year">{{ _("Рік") }}</th>
                        <th class="decl-position">{{ _("Посада") }}</th>
                        <th class="decl-income">{{ _("Доходи декларанта") }}, {{ _("UAH") }}</th>
                        <th class="decl-familyincome">{{ _("Доходи родини") }}, {{ _("UAH") }}</th>
                        <th class="decl-familyincome">{{ _("Витрати та інші правочини декларанта") }}, {{ _("UAH") }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for declaration in all_declarations %}
                        {% set income = declaration.get_income() %}
                        <tr>
                            <td class="decl-year"><a href="{{ income.url }}" target="_blank"  data-toggle="tooltip" data-placement="bottom" title="{% if declaration.nacp_declaration %}{{ _("Електронна декларація") }}{% else %}{{ _("Паперова декларація") }}{% endif %}">{{ income.year }}</td>
                            <td class="decl-position"><span itemscope="" itemtype="http://schema.org/Organization" itemprop="worksFor"><span itemprop="name">{{ income.office }}</span></span>, {{ income.position }}{% if declaration.doc_type == "Кандидата на посаду" %} ({{ _("кандидат") }}){% endif %}</td>
                            <td class="decl-income">{{ income.income_of_declarant|curformat() }}</td>
                            <td class="decl-familyincome">{{ income.income_of_family|curformat() }}</td>
                            <td class="decl-familyincome">{{ income.expenses_of_declarant|curformat() }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <h3>{{ _("Грошові активи:") }}
        <a href="#" class="modalConnectionShow" data-toggle="modal" data-target="#support-assets">
            <i class="fa fa-info-circle info-gray"></i>
        </a>
    </h3>
    <div class="modalConnectionBox modal fade" id="support-assets" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>
                        {{ _("Суб’єкт декларування повинен задекларувати: готівкові кошти, кошти, розміщені на банківських рахунках, внески до кредитних спілок та інших небанківських фінансових установ, у тому числі до інститутів спільного інвестування, кошти, позичені суб’єктом декларування або членом його сім’ї третім особам, активи у дорогоцінних (банківських) металах, інше.") }}
                    </p>
                    <p>
                        {{ _("Не підлягають декларуванню наявні грошові активи (у тому числі готівкові кошти, кошти, розміщені на банківських рахунках, внески до кредитних спілок та інших небанківських фінансових установ, кошти, позичені третім особам) та активи у дорогоцінних (банківських) металах, сукупна вартість яких не перевищує 50 прожиткових мінімумів, встановленних для працездатних осіб на 1 січня звітного року.") }}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Закрити") }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="printWrap">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="decl-year"></th>
                        <th class="decl-income"></th>
                        <th class="decl-income" colspan="4">{{ _("Декларант") }}</th>
                        <th class="decl-familyincome" colspan="4">{{ _("Родина") }}</th>
                    </tr>
                    <tr>
                        <th class="decl-year">{{ _("Рік") }}</th>
                        <th class="decl-income">{{ _("Вид активу") }}</th>
                        <th class="decl-income">{{ _("UAH") }}</th>
                        <th class="decl-income">{{ _("USD") }}</th>
                        <th class="decl-income">{{ _("EUR") }}</th>
                        <th class="decl-income">{{ _("Інше") }}</th>
                        <th class="decl-familyincome">{{ _("UAH") }}</th>
                        <th class="decl-familyincome">{{ _("USD") }}</th>
                        <th class="decl-familyincome">{{ _("EUR") }}</th>
                        <th class="decl-familyincome">{{ _("Інше") }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for declaration in all_declarations %}
                        {% set assets = declaration.get_assets() %}
                        <tr>
                            <td class="decl-year" {% if declaration.nacp_declaration %}rowspan="3"{% endif %}><a href="{{ assets.url }}" target="_blank"  data-toggle="tooltip" data-placement="bottom" title="{% if declaration.nacp_declaration %}{{ _("Електронна декларація") }}{% else %}{{ _("Паперова декларація") }}{% endif %}">{{ assets.year }}</td>

                            {% set banks = assets.accounts.declarant.banks.union(assets.accounts.family.banks) %}
                            <td class="decl-income">
                                <span class="tooltip-anchor{% if banks%} tooltip-hilite{% endif %}" data-toggle="tooltip" data-placement="bottom" title="{{ banks|join(', ')  }}">{{ _("Вклади") }}</span>
                            </td>
                            <td class="decl-income">
                                {{ assets.accounts.declarant.UAH|curformat() }}
                            </td>
                            <td class="decl-income">
                                {{ assets.accounts.declarant.USD|curformat() }}
                            </td>
                            <td class="decl-income">
                                {{ assets.accounts.declarant.EUR|curformat() }}
                            </td>
                            <td class="decl-income">
                                {% for asset in assets.accounts.declarant.OTH %}
                                    {{ _(asset.currency) }} {{ asset.amount|curformat() }}<br/>
                                {% endfor %}
                            </td>
                            <td class="decl-familyincome">
                                {{ assets.accounts.family.UAH|curformat() }}
                            </td>
                            <td class="decl-familyincome">
                                {{ assets.accounts.family.USD|curformat() }}
                            </td>
                            <td class="decl-familyincome">
                                {{ assets.accounts.family.EUR|curformat() }}
                            </td>
                            <td class="decl-familyincome">
                                {% for asset in assets.accounts.family.OTH %}
                                    {{ _(asset.currency) }} {{ asset.amount|curformat() }}<br/>
                                {% endfor %}
                            </td>
                        </tr>
                        {% if declaration.nacp_declaration %}
                            <tr>
                                <td class="decl-income">
                                    {{ _("Готівка") }}
                                </td>
                                <td class="decl-income">
                                    {{ assets.cash.declarant.UAH|curformat() }}
                                </td>
                                <td class="decl-income">
                                    {{ assets.cash.declarant.USD|curformat() }}
                                </td>
                                <td class="decl-income">
                                    {{ assets.cash.declarant.EUR|curformat() }}
                                </td>
                                <td class="decl-income">
                                    {% for asset in assets.cash.declarant.OTH %}
                                        {{ _(asset.currency) }} {{ asset.amount|curformat() }}<br/>
                                    {% endfor %}
                                </td>
                                <td class="decl-familyincome">
                                    {{ assets.cash.family.UAH|curformat() }}
                                </td>
                                <td class="decl-familyincome">
                                    {{ assets.cash.family.USD|curformat() }}
                                </td>
                                <td class="decl-familyincome">
                                    {{ assets.cash.family.EUR|curformat() }}
                                </td>
                                <td class="decl-familyincome">
                                    {% for asset in assets.cash.family.OTH %}
                                        {{ _(asset.currency) }} {{ asset.amount|curformat() }}<br/>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td class="decl-income">
                                    {{ _("Інше") }}
                                </td>
                                <td class="decl-income">
                                    {{ assets.misc.declarant.UAH|curformat() }}
                                </td>
                                <td class="decl-income">
                                    {{ assets.misc.declarant.USD|curformat() }}
                                </td>
                                <td class="decl-income">
                                    {{ assets.misc.declarant.EUR|curformat() }}
                                </td>
                                <td class="decl-income">
                                    {% for asset in assets.misc.declarant.OTH %}
                                        {{ _(asset.currency) }} {{ asset.amount|curformat() }}<br/>
                                    {% endfor %}
                                </td>
                                <td class="decl-familyincome">
                                    {{ assets.misc.family.UAH|curformat() }}
                                </td>
                                <td class="decl-familyincome">
                                    {{ assets.misc.family.USD|curformat() }}
                                </td>
                                <td class="decl-familyincome">
                                    {{ assets.misc.family.EUR|curformat() }}
                                </td>
                                <td class="decl-familyincome">
                                    {% for asset in assets.misc.family.OTH %}
                                        {{ _(asset.currency) }} {{ asset.amount|curformat() }}<br/>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <h3>
        {{ _("Дарунки, призи, виграші:") }}
        <a href="#" class="modalConnectionShow" data-toggle="modal" data-target="#support-gifts">
            <i class="fa fa-info-circle info-gray"></i>
        </a>
    </h3>
    <div class="modalConnectionBox modal fade" id="support-gifts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>
                        {{ _("Подарунки у формі грошових коштів ​повинні зазначатися, якщо розмір таких подарунків, отриманих від однієї особи (групи осіб) протягом року,​ перевищує 5 прожиткових мінімумів, встановленних для працездатних осіб на 1 січня звітного року. Подарун​ок​ у формі, іншій ніж грошові кошти​ (рухоме майно, нерухомість тощо)​, зазначається​, якщо ​вартість так​ого​ подарунк​у перевищує 5 прожиткових мінімумів, встановленних для працездатних осіб на 1 січня звітного року. Зазначення інформації про подарунок не виключає обов'язок вказати відповідне майно в інших розділах декларації, наприклад, у розділах про цінне рухоме майно, нерухоме майно, цінні папери тощо.") }}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Закрити") }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="printWrap">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="decl-year">{{ _("Рік") }}</th>
                        <th class="decl-income">{{ _("Cума в декларанта") }}, {{ _("UAH") }}</th>
                        <th class="decl-familyincome">{{ _("Сума в сім'ї") }}, {{ _("UAH") }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for declaration in all_declarations %}
                        {% set gifts = declaration.get_gifts() %}
                        <tr>
                            <td class="decl-year"><a href="{{ gifts.url }}" target="_blank"  data-toggle="tooltip" data-placement="bottom" title="{% if declaration.nacp_declaration %}{{ _("Електронна декларація") }}{% else %}{{ _("Паперова декларація") }}{% endif %}">{{ gifts.year }}</td>

                            <td class="decl-income">{{ gifts.gifts_of_declarant|curformat() }}</td>
                            <td class="decl-familyincome">{{ gifts.gifts_of_family|curformat() }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <h3>
        {{ _("Фінансові зобов’язання:") }}
        <a href="#" class="modalConnectionShow" data-toggle="modal" data-target="#support-liabilities">
            <i class="fa fa-info-circle info-gray"></i>
        </a>
    </h3>
    <div class="modalConnectionBox modal fade" id="support-liabilities" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>
                        {{ _("Суб’єкт декларування повинен задекларувати: отримані кредити, отримані позики, зобов’язання за договорами лізингу, розмір сплачених коштів в рахунок основної суми позики (кредиту) та процентів за позикою (кредитом), зобов’язання за договорами страхування та недержавного пенсійного забезпечення, кошти, позичені суб’єкту декларування або члену його сім’ї іншими особами, несплачені податкові зобов’язання, інше.") }}
                    </p>
                    <p>
                        {{ _("Інформація зазначається, лише якщо розмір зобов’язання перевищує 50 прожиткових мінімумів, встановленних для працездатних осіб на 1 січня звітного року. Якщо розмір зобов’язання не перевищує 50 прожиткових мінімумів, встановленних для працездатних осіб на 1 січня звітного року, зазначається лише загальний розмір такого фінансового зобов’язання (наприклад, якщо розмір сплачених коштів в рахунок основної суми позики (кредиту) у звітному році не перевищує 50 прожиткових мінімумів, встановленних для працездатних осіб на 1 січня звітного року, то зазначається лише загальний розмір позики (кредиту)).") }}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Закрити") }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="printWrap">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="decl-year">{{ _("Рік") }}</th>
                        <th class="decl-income">{{ _("Сума в декларанта") }}</th>
                        <th class="decl-familyincome">{{ _("Сума в сім'ї") }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for declaration in all_declarations %}
                        {% set liability = declaration.get_liabilities() %}
                        <tr>
                            <td class="decl-year"><a href="{{ liability.url }}" target="_blank"  data-toggle="tooltip" data-placement="bottom" title="{% if declaration.nacp_declaration %}{{ _("Електронна декларація") }}{% else %}{{ _("Паперова декларація") }}{% endif %}">{{ liability.year }}</td>
                            <td class="decl-income">
                                {% for currency, amount in liability.liabilities_of_declarant.items() %}
                                    {{ _(currency) }} {{ amount|curformat() }}<br/>
                                {% else %}
                                    {{ _("UAH") }} {{ 0|curformat() }}
                                {% endfor %}
                            </td>
                            <td class="decl-familyincome">
                                {% for currency, amount in liability.liabilities_of_family.items() %}
                                    {{ _(currency) }} {{ amount|curformat() }}<br/>
                                {% else %}
                                    {{ _("UAH") }} {{ 0|curformat() }}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <h3>
        {{ _("Нерухомість декларанта і родини:") }}
        <a href="#" class="modalConnectionShow" data-toggle="modal" data-target="#support-real_estate">
            <i class="fa fa-info-circle info-gray"></i>
        </a>
    </h3>
    <div class="modalConnectionBox modal fade" id="support-real_estate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>
                        {{ _("Вказуються об’єкти нерухомості, що належать суб’єкту декларування та членам його сім’ї на праві приватної власності, включаючи спільну власність, або знаходяться у них в оренді чи на іншому праві користування, незалежно від форми укладення правочину, внаслідок якого набуте таке право.") }}
                    </p>
                    <p>
                        {{ _("В розділі вказується сукупна площа задекларованого за звітний рік майна. Для того, щоб отримати більш детальну інформацію, перейдіть на повну версію декларації.") }}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Закрити") }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="printWrap">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="decl-year">{{ _("Рік") }}</th>
                        <th class="decl-income">{{ _("Земля") }}</th>
                        <th class="decl-income">{{ _("Будинки") }}</th>
                        <th class="decl-income">{{ _("Квартири") }}</th>
                        <th class="decl-income">{{ _("Інша нерухомість") }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for declaration in all_declarations %}
                        {% set asset = declaration.get_real_estate() %}
                        <tr>
                            <td class="decl-year"><a href="{{ asset.url }}" target="_blank"  data-toggle="tooltip" data-placement="bottom" title="{% if declaration.nacp_declaration %}{{ _("Електронна декларація") }}{% else %}{{ _("Паперова декларація") }}{% endif %}">{{ asset.year }}</td>
                            <td class="decl-income">
                                {% set cnt = asset.assets_of_declarant.land|count + asset.assets_of_family.land|count %}
                                {% if cnt %}
                                    <a class="btn btn-link btn-16px" role="button" data-toggle="collapse" data-target="#land{{ loop.index }}" aria-expanded="false" aria-controls="land{{ loop.index }}">{{ asset.assets_of_declarant.land|sum + asset.assets_of_family.land|sum }} {{ _("м²") }}
                                    ({{ cnt }})</a>
                                    <div class="collapse" id="land{{ loop.index }}">
                                        {% if asset.assets_of_declarant.land %}
                                            <strong>{{ _("Декларант")}}</strong><br />
                                            {% for land in asset.assets_of_declarant.land %}
                                            {{ land }} {{ _("м²") }}<br/>
                                            {% endfor %}
                                        {% endif %}
                                        {% if asset.assets_of_family.land %}
                                            <strong>{{ _("Родина") }}</strong><br />
                                            {% for land in asset.assets_of_family.land %}
                                            {{ land }} {{ _("м²") }}<br/>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                {% else %}
                                —
                                {% endif %}
                            </td>
                            <td class="decl-income">
                                {% set cnt = asset.assets_of_declarant.houses|count + asset.assets_of_family.houses|count %}
                                {% if cnt %}
                                    <a class="btn btn-link btn-16px" role="button" data-toggle="collapse" data-target="#houses{{ loop.index }}" aria-expanded="false" aria-controls="houses{{ loop.index }}">{{ asset.assets_of_declarant.houses|sum + asset.assets_of_family.houses|sum }} {{ _("м²") }}
                                    ({{ cnt }})</a>
                                    <div class="collapse" id="houses{{ loop.index }}">
                                        {% if asset.assets_of_declarant.houses %}
                                            <strong>{{ _("Декларант")}}</strong><br />
                                            {% for houses in asset.assets_of_declarant.houses %}
                                            {{ houses }} {{ _("м²") }}<br/>
                                            {% endfor %}
                                        {% endif %}
                                        {% if asset.assets_of_family.houses %}
                                            <strong>{{ _("Родина") }}</strong><br />
                                            {% for houses in asset.assets_of_family.houses %}
                                            {{ houses }} {{ _("м²") }}<br/>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                {% else %}
                                —
                                {% endif %}
                            </td>
                            <td class="decl-income">
                                {% set cnt = asset.assets_of_declarant.apartments|count + asset.assets_of_family.apartments|count %}
                                {% if cnt %}
                                    <a class="btn btn-link btn-16px" role="button" data-toggle="collapse" data-target="#apartments{{ loop.index }}" aria-expanded="false" aria-controls="apartments{{ loop.index }}">{{ asset.assets_of_declarant.apartments|sum + asset.assets_of_family.apartments|sum }} {{ _("м²") }}
                                    ({{ cnt }})</a>
                                    <div class="collapse" id="apartments{{ loop.index }}">
                                        {% if asset.assets_of_declarant.apartments %}
                                            <strong>{{ _("Декларант")}}</strong><br />
                                            {% for apartments in asset.assets_of_declarant.apartments %}
                                            {{ apartments }} {{ _("м²") }}<br/>
                                            {% endfor %}
                                        {% endif %}
                                        {% if asset.assets_of_family.apartments %}
                                            <strong>{{ _("Родина") }}</strong><br />
                                            {% for apartments in asset.assets_of_family.apartments %}
                                            {{ apartments }} {{ _("м²") }}<br/>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                {% else %}
                                —
                                {% endif %}
                            </td>
                            <td class="decl-income">
                                {% set cnt = asset.assets_of_declarant.other|count + asset.assets_of_family.other|count %}
                                {% if cnt %}
                                    <a class="btn btn-link btn-16px" role="button" data-toggle="collapse" data-target="#other{{ loop.index }}" aria-expanded="false" aria-controls="other{{ loop.index }}">{{ asset.assets_of_declarant.other|sum + asset.assets_of_family.other|sum }} {{ _("м²") }}
                                    ({{ cnt }})</a>
                                    <div class="collapse" id="other{{ loop.index }}">
                                        {% if asset.assets_of_declarant.other %}
                                            <strong>{{ _("Декларант")}}</strong><br />
                                            {% for other in asset.assets_of_declarant.other %}
                                            {{ other }} {{ _("м²") }}<br/>
                                            {% endfor %}
                                        {% endif %}
                                        {% if asset.assets_of_family.other %}
                                            <strong>{{ _("Родина") }}</strong><br />
                                            {% for other in asset.assets_of_family.other %}
                                            {{ other }} {{ _("м²") }}<br/>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                {% else %}
                                —
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <h3>
        {{ _("Транспортні засоби:") }}
        <a href="#" class="modalConnectionShow" data-toggle="modal" data-target="#support-vehicles">
            <i class="fa fa-info-circle info-gray"></i>
        </a>
    </h3>
    <div class="modalConnectionBox modal fade" id="support-vehicles" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>
                        {{ _("Вказуються дані про транспортні засоби та інші самохідні машини і механізми що належать суб’єкту декларування або членам його сім’ї на праві приватної власності, у тому числі спільної власності, або перебувають в їх володінні або користуванні незалежно від форми правочину, внаслідок якого набуте таке право. Відомості про транспортні засоби та інші самохідні машини і механізми зазначаються незалежно від їх вартості.") }}
                    </p>
                    <p>
                        {{ _("В розділі вказується марка, модель та рік випуску задекларованого транспортного засобу. Для того, щоб отримати більш детальну інформацію, перейдіть на повну версію декларації.") }}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Закрити") }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="printWrap">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="decl-year">{{ _("Рік") }}</th>
                        <th class="decl-income">{{ _("Транспортні засоби") }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for declaration in all_declarations %}
                        {% set asset = declaration.get_vehicles() %}
                        <tr>
                            <td class="decl-year"><a href="{{ asset.url }}" target="_blank"  data-toggle="tooltip" data-placement="bottom" title="{% if declaration.nacp_declaration %}{{ _("Електронна декларація") }}{% else %}{{ _("Паперова декларація") }}{% endif %}">{{ asset.year }}</td>
                            <td>
                                {% if asset.assets_of_declarant.vehicles %}
                                    <strong>{{ _("Декларант")}}</strong>
                                    <ul>
                                    {% for v in asset.assets_of_declarant.vehicles %}
                                        <li>{{ v }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}

                                {% if asset.assets_of_family.vehicles %}
                                    <strong>{{ _("Родина") }}</strong>
                                    <ul>
                                    {% for v in asset.assets_of_family.vehicles %}
                                        <li>{{ v }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}

                                {% if not asset.assets_of_declarant.vehicles and not asset.assets_of_family.vehicles %}
                                —
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>