<div id="declarations" class="sub box">
    <h3>{{ _("Дані з декларації про доходи:") }}</h3>
    <div class="printWrap">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="decl-year">{{ _("Рік") }}</th>
                        <th class="decl-position">{{ _("Посада") }}</th>
                        <th class="decl-income">{{ _("Доходи декларанта") }}, {{ _("UAH") }}</th>
                        <th class="decl-familyincome">{{ _("Доходи родини") }}, {{ _("UAH") }}</th>
                        <th class="decl-familyincome">{{ _("Витрати та інші правочини декларанта") }}, {{ _("UAH") }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for declaration in all_declarations %}
                        {% set income = declaration.get_income() %}
                        <tr>
                            <td class="decl-year"><a href="{{ income.url }}" title="{{ _("Відкрити декларацію") }}" target="_blank">{{ income.year }}</td>
                            <td class="decl-position"><span itemscope="" itemtype="http://schema.org/Organization" itemprop="worksFor"><span itemprop="name">{{ income.office }}</span></span>, {{ income.position }}</td>
                            <td class="decl-income">{{ income.income_of_declarant|curformat() }}</td>
                            <td class="decl-familyincome">{{ income.income_of_family|curformat() }}</td>
                            <td class="decl-familyincome">{{ income.expenses_of_declarant|curformat() }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <h3>{{ _("Дарунки, призи, виграші:") }}</h3>
    <div class="printWrap">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" >
                <thead>
                    <tr>
                        <th class="decl-year">{{ _("Рік") }}</th>
                        <th class="decl-income">{{ _("Cума в декларанта") }}</th>
                        <th class="decl-familyincome">{{ _("Сума в сім'ї") }}</th>
                        <th class="decl-download"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for declaration in declarations if "income" in declaration.source %}
                        <tr>
                            <td class="decl-year">{{ declaration.source.intro.declaration_year }}</td>
                            <td class="decl-income">{{ _("UAH") }} {{ declaration.source.income['11'].value|curformat() }}</td>
                            <td class="decl-familyincome">{{ _("UAH") }} {{ declaration.source.income['11'].family|curformat() }}</td>
                            <td class="decl-download print-hidden"><a href="{{ declaration.url }}" title="{{ _("Відкрити декларацію") }}" target="_blank"><i class="fa fa-file-text-o"></i></a></td>
                        </tr>
                    {% else %}—
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <h3>{{ _("Земельні ділянки:") }}</h3>
    <div class="printWrap">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <tr>
                    <th class="decl-year">{{ _("Рік") }}</th>
                    <th class="decl-income">{{ _("Площа в декларанта") }}</th>
                    <th class="decl-familyincome">{{ _("Площа в сім'ї") }}</th>
                    <th class="decl-download">&nbsp;</th>
                </tr>
                {% for declaration in declarations if "estate" in declaration.source %}
                <tr>
                    <td class="decl-year">{{ declaration.source.intro.declaration_year }}</td>
                    <!--td class="decl-year">2011 <i class="fa fa-plus-square trigger-hidden-row"></i></td!-->
                    <td>
                        {% for space in declaration.source.estate["23"] if space.space %}
                            {{ space.space|spaceformat }} {{ _(space.space_units) or _("м²") }}{% if not loop.last %}, {% endif %}
                        {% else %}—
                        {% endfor %}
                    </td>
                    <td>
                        {% for space in declaration.source.estate["29"] if space.space %}
                            {{ space.space|spaceformat }} {{ _(space.space_units) or _("м²") }}{% if not loop.last %}, {% endif %}
                        {% else %}—
                        {% endfor %}
                    </td>
                    <td class="decl-download print-hidden"><a href="{{ declaration.url }}" title="{{ _("Відкрити декларацію") }}" target="_blank"><i class="fa fa-file-text-o"></i></a></td>
                </tr>
                {% endfor %}
{#                            <tr class="additional_hidden hidden">
                    <td colspan="4">
                        <table class="table table-bordered">
                            <tr>
                                <th>Дата</th>
                                <th>Текст</th>
                                <th>Адреса</th>
                                <th>Країна</th>
                            </tr>
                            <tr>
                                <td>10.05.2011</td>
                                <td><p>Видання Українська Правда опублікувало фотографії маєтку, зареєстрованого на дружину А.Клюєва Ірину</p></td>
                                <td>Groissaustraße, 12.</td>
                                <td>Австрія</td>
                            </tr>
                            <tr>
                                <td>11.07.2011</td>
                                <td>Уряд Австрії арештував маєток Клюєвих у місті Тульбінг поблизу Відня</td>
                                <td> Groissaustraße, 12.</td>
                                <td>Австрія</td>
                            </tr>
                        </table>
                    </td>
                </tr>
#}
            </table>
        </div>
    </div>
    
    <h3>{{ _("Житлові будинки:") }}</h3>
    <div class="printWrap">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <tr>
                    <th class="decl-year">{{ _("Рік") }}</th>
                    <th class="decl-income">{{ _("Площа в декларанта") }}</th>
                    <th class="decl-familyincome">{{ _("Площа в сім'ї") }}</th>
                    <th class="decl-download">&nbsp;</th>
                </tr>
                {% for declaration in declarations if "estate" in declaration.source %}
                <tr>
                    <td class="decl-year">{{ declaration.source.intro.declaration_year }}</td>
                    <td>
                        {% for space in declaration.source.estate["24"] if space.space %}
                            {{ space.space|spaceformat }} {{ _(space.space_units) or _("м²") }}{% if not loop.last %}, {% endif %}
                        {% else %}—
                        {% endfor %}
                    </td>
                    <td>
                        {% for space in declaration.source.estate["30"] if space.space %}
                            {{ space.space|spaceformat }} {{ _(space.space_units) or _("м²") }}{% if not loop.last %}, {% endif %}
                        {% else %}—
                        {% endfor %}
                    </td>
                    <td class="decl-download print-hidden"><a href="{{ declaration.url }}" title="{{ _("Відкрити декларацію") }}" target="_blank"><i class="fa fa-file-text-o"></i></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <h3>{{ _("Квартири:") }}</h3>
    <div class="printWrap">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <tr>
                    <th class="decl-year">{{ _("Рік") }}</th>
                    <th class="decl-income">{{ _("Площа в декларанта") }}</th>
                    <th class="decl-familyincome">{{ _("Площа в сім'ї") }}</th>
                    <th class="decl-download">&nbsp;</th>
                </tr>
                {% for declaration in declarations if "estate" in declaration.source %}
                <tr>
                    <td class="decl-year">{{ declaration.source.intro.declaration_year }}</td>
                    <td class="decl-income">
                        {% for space in declaration.source.estate["25"] if space.space %}
                            {{ space.space|spaceformat }} {{ _(space.space_units) or _("м²") }}{% if not loop.last %}, {% endif %}
                        {% else %}—
                        {% endfor %}
                    </td>
                    <td class="decl-familyincome">
                        {% for space in declaration.source.estate["31"] if space.space %}
                            {{ space.space|spaceformat }} {{ _(space.space_units) or _("м²") }}{% if not loop.last %}, {% endif %}
                        {% else %}—
                        {% endfor %}
                    </td>
                    <td class="decl-download print-hidden"><a href="{{ declaration.url }}" title="{{ _("Відкрити декларацію") }}" target="_blank"><i class="fa fa-file-text-o"></i></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>                
    <h3>{{ _("Інше нерухоме майно:") }}</h3>
    <div class="printWrap">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <tr>
                    <th class="decl-year">{{ _("Рік") }}</th>
                    <th class="decl-income">{{ _("Площа в декларанта") }}</th>
                    <th class="decl-familyincome">{{ _("Площа в сім'ї") }}</th>
                    <th class="decl-download">&nbsp;</th>
                </tr>
                {% for declaration in declarations if "estate" in declaration.source %}
                <tr>
                    <td class="decl-year">{{ declaration.source.intro.declaration_year }}</td>
                    <td>
                        {% for space in declaration.source.estate["28"] if space.space %}
                            {{ space.space|spaceformat }} {{ _(space.space_units) or _("м²") }}{% if not loop.last %}, {% endif %}
                        {% else %}—
                        {% endfor %}
                    </td>
                    <td>
                        {% for space in declaration.source.estate["34"] if space.space %}
                            {{ space.space|spaceformat }} {{ _(space.space_units) or _("м²") }}{% if not loop.last %}, {% endif %}
                        {% else %}—
                        {% endfor %}
                    </td>
                    <td class="decl-download print-hidden"><a href="{{ declaration.url }}" title="{{ _("Відкрити декларацію") }}" target="_blank"><i class="fa fa-file-text-o"></i></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <h3>{{ _("Вклади в банках:") }}</h3>
    <div class="printWrap">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" >
                <thead>
                    <tr>
                        <th class="decl-year">{{ _("Рік") }}</th>
                        <th class="decl-income">{{ _("Сума в декларанта") }}</th>
                        <th class="decl-familyincome">{{ _("Сума в сім'ї") }}</th>
                        <th class="decl-download"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for declaration in declarations if "banks" in declaration.source %}
                    <tr>
                        <td class="decl-year">{{ declaration.source.intro.declaration_year }}</td>
                        <!--td class="decl-year">2011 <i class="fa fa-plus-square trigger-hidden-row"></i></td!-->
                        <td class="decl-income">
                            {% for account in declaration.source.banks["45"] if account.sum %}
                                {{ _(account.sum_units or "UAH") }} {{ account.sum|curformat() }} {% if not loop.last %}, {% endif %}
                            {% else %}—
                            {% endfor %}
                        </td>
                        <td class="decl-familyincome">
                            {% for account in declaration.source.banks["51"] if account.sum %}
                                {{ _(account.sum_units or "UAH") }} {{ account.sum|curformat() }} {% if not loop.last %}, {% endif %}
                            {% else %}—
                            {% endfor %}
                        </td>
                        <td class="decl-download print-hidden"><a href="{{ declaration.url }}" title="{{ _("Відкрити декларацію") }}" target="_blank"><i class="fa fa-file-text-o"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <h3>{{ _("Фінансові зобов’язання:") }}</h3>
    <div class="printWrap">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" >
                <thead>
                    <tr>
                        <th class="decl-year">{{ _("Рік") }}</th>
                        <th class="decl-income">{{ _("Сума в декларанта") }}</th>
                        <th class="decl-familyincome">{{ _("Сума в сім'ї") }}</th>
                        <th class="decl-download"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for declaration in declarations if "liabilities" in declaration.source %}
                    <tr>
                        <td class="decl-year">{{ declaration.source.intro.declaration_year }}</td>
                        <td class="decl-income">
                            {% set sum = 0.0 %}
                            {% for field in ["54", "55", "56", "57", "58", "59"] %}
                                {% set sum = sum + declaration.source.liabilities[field].sum|float + declaration.source.liabilities[field].sum_foreign|float %}

                                {% if loop.last %}
                                    {{ _("UAH") }} {{ sum }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="decl-familyincome">
                            {% set sum = 0 %}
                            {% for field in ["60", "61", "62", "63", "64"] %}
                                {% set sum = sum + declaration.source.liabilities[field].sum|float + declaration.source.liabilities
                                [field].sum_foreign|float %}

                                {% if loop.last %}
                                    {{ _("UAH") }} {{ sum }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="decl-download print-hidden"><a href="{{ declaration.url }}" title="{{ _("Відкрити декларацію") }}" target="_blank"><i class="fa fa-file-text-o"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <h3>{{ _("Транспортні засоби:") }}</h3>
    <div class="printWrap">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" >
                <thead>
                    <tr>
                        <th class="decl-year">{{ _("Рік") }}</th>
                        <th class="decl-income">{{ _("Авто в декларанта") }}</th>
                        <th class="decl-familyincome">{{ _("Авто в сім'ї") }}</th>
                        <th class="decl-download"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for declaration in declarations if "vehicle" in declaration.source %}
                    <tr>
                        <td class="decl-year">{{ declaration.source.intro.declaration_year }}</td>
                        <td>
                            {% for field in ["34", "35", "36", "37", "38", "39"] %}
                                {% for car in declaration.source.vehicle[field] %}
                                    {{ car["brand"] }} {{ car["brand_info"] }} {{ car["year"] }}
                                    {% if not loop.last %}<br/>{% endif %}
                                {% endfor %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for field in ["40", "41", "42", "43", "44"] %}
                                {% for car in declaration.source.vehicle[field] %}
                                    {{ car["brand"] }} {{ car["brand_info"] }} {{ car["year"] }}
                                    {% if not loop.last %}<br/>{% endif %}
                                {% endfor %}
                            {% endfor %}
                        </td>
                        <td class="decl-download print-hidden"><a href="{{ declaration.url }}" title="{{ _("Відкрити декларацію") }}" target="_blank"><i class="fa fa-file-text-o"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>