 <div id="declarations" class="sub box">
    <h3>{{ _("Дані з декларації про доходи:") }}</h3>
    <div class="printWrap">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="decl-year">{{ _("Рік") }}</th>
                        <th class="decl-position">{{ _("Посада") }}</th>
                        <th class="decl-income">{{ _("Доходи") }}, {{ _("RUB") }}</th>
                        <th class="decl-familyincome">{{ _("Доходи чоловіка/жінки") }}, {{ _("RUB") }}</th>
                        <th class="decl-familyincome">{{ _("Нерухомість") }}, {{ _("м²") }}</th>
                        <th class="decl-familyincome">{{ _("Транспорт") }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for declaration in all_declarations if declaration.declarator_declaration %}
                        {% set income = declaration.get_declarator_overall() %}
                        <tr>
                            <td class="decl-year"><a href="{{ income.url }}" target="_blank"  data-toggle="tooltip" data-placement="bottom" title="{{ _("Антикорупційна декларація") }}">{{ income.year }}</td>
                            <td class="decl-position">{{ income.position }},<br /> <span itemscope="" itemtype="http://schema.org/Organization" itemprop="worksFor"><span itemprop="name">{{ income.office }}</span></span></td>
                            <td class="decl-income">{{ income.income_of_declarant|curformat() }}</td>
                            <td class="decl-familyincome">{{ income.income_of_family|curformat() }}</td>
                            <td class="decl-familyincome">
                                {% for estate_type, estate_area in income.estate_breakdown.items() if estate_area %}
                                    {{ _(estate_type) }}: {{ estate_area|curformat() }} <br />
                                {% endfor %}
                            </td>
                            <td class="decl-familyincome">
                                {% for vehicle_owner, vehicles in income.list_of_vehicles.items() if vehicles %}
                                    <strong>{{ _(vehicle_owner) }}:</strong>
                                    <ul>
                                        {% for vehicle in vehicles %}
                                        <li>
                                            {{ vehicle.brand }} {{ vehicle.name }} {{ vehicle.manufacture_year }}
                                            {{ vehicle.comment }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{#
    # Urging django i18n to pick texts below for translation
    {{ _("Жилой дом") }}
    {{ _("Квартира") }}
    {{ _("Иное") }}
    {{ _("Земельный участок") }}
    {{ _("Декларант") }}
    {{ _("Супруг(а)") }}
    {{ _("Сын") }}
    {{ _("Дочь") }}
    {{ _("Ребенок") }}
    {{ _("Иное") }}
#}