{% for r in manhunt_records %}
<p>
    {{ _("Станом на") }} {{ r.last_updated_from_dataset|date }}
    {{ _("перебуває у всеукраїнському розшуку за підозрою у вчиненні злочину, передбаченого") }} {{ r.articles_uk }}
    {{ _("Кримінального кодексу України. Зник") }} {{ r.lost_date|date }}
</p>
{% endfor %}
