{% extends "base.jinja" %}
{% from "macros/_connections.jinja" import render_connection, render_company_persons, render_related_persons, render_company_companies with context %}
{% block body_class %}not-front profile-page company-profile page{% endblock %}

{% block page_title %}{{ company.name }} {% endblock %}

{% block extra_menu %}
    {% if request.user.is_superuser %}
        <li class="edit-page">
            <a href="{{ url('admin:core_company_change', company.id) }}" target="_blank"><i class="fa fa-pencil-square-o"></i></a>
        </li>
    {% endif %}
{% endblock %}

{% block og_tags %}
    {{ super() }}
    <link rel="canonical" href="{{ SITE_URL }}{{ company.get_absolute_url() }}" />
{% endblock %}


{% block content %}
{% set related_persons = company.all_related_persons %}
{% set related_countries = company.all_related_countries %}
{% set related_companies = company.all_related_companies %}
{% set external_links = company.proofs.all() %}

<div class="container" itemscope itemtype="http://schema.org/Organization">
    <div class="row">
        <div id="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="{{ url("wagtail_serve", "") }}">{{ _("Головна") }}</a></li>
                <li class="active">{{ _("Публічні діячі") }}</li>
                <li class="active">{{ company.name }}</li>
            </ol>
        </div>
        <aside id="profile-nav" role="complementary" class="col-sm-2 hidden-xs">
            <ul id="side-profilemenu">
                <li><a href="#personal" class="btn btn-transp trans"><i class="fa fa-info"></i><span>{{ _("Дані юридичної особи") }}</span></a></li>
                {% if external_links %}
                <li><a href="#documents" class="btn btn-transp trans"><i class="fa fa-book"></i><span>{{ _("Документи та джерела") }}</span></a></li>
                {% endif %}
                {% if related_persons.founders or related_companies.founders or company|get_translated_field("other_founders", LANGUAGE_CODE) or 
                    company|get_translated_field("other_owners", LANGUAGE_CODE) %}
                <li><a href="#founders" class="btn btn-transp trans"><i class="fa fa-male"></i><span>{{ _("Засновники") }}</span></a></li>
                {% endif %}

                {% if related_persons.managers or company|get_translated_field("other_managers", LANGUAGE_CODE) %}
                <li><a href="#managers" class="btn btn-transp trans"><i class="fa fa-users"></i><span>{{ _("Керівництво") }}</span></a></li>
                {% endif %}

                {% if related_persons.bank_customers or related_persons.rest or related_countries.rest or related_companies.rest %}
                <li><a href="#connections" class="btn btn-transp trans"><i class="fa fa-heart"></i><span>{{ _("Зв'язки") }}</span></a></li>
                {% endif %}

                {% if 
                    company|get_translated_field("wiki", LANGUAGE_CODE) or company|get_translated_field("wiki", DEFAULT_LANGUAGE_CODE) or
                    company|get_translated_field("sanctions", LANGUAGE_CODE) or company|get_translated_field("sanctions", DEFAULT_LANGUAGE_CODE) or
                    related_persons.sanctions %}
                    <li><a href="#dossier" class="btn btn-transp trans"><i class="fa fa-briefcase"></i><span>{{ _("Досьє") }}</span></a></li>
                {% endif %}

                {% if related_companies.banks or company|get_translated_field("bank_name", LANGUAGE_CODE) or company|get_translated_field("bank_name", DEFAULT_LANGUAGE_CODE) %}
                <li><a href="#bank" class="btn btn-transp trans"><i class="fa fa-money"></i><span>{{ _("Банківські рахунки") }}</span></a></li>
                {% endif %}
            </ul>
        </aside>
        <section id="profile" class="col-sm-8" data-url="{{ url('connections', 'company', company.pk) }}">
            <link itemprop="url" href="{{ company.get_absolute_url() }}" />
            <div id="profile-wrap" class="box">
                <ul class="profileActions">
                    <li><a href="?format=pdf" class="tooltip-anchor" data-toggle="tooltip" data-placement="top" title="{{ _("Скачати PDF") }}" target="_blank"><i class="fa fa-file-pdf-o"></i></a></li>
                    <li><a href="#" class="tooltip-anchor print-me" data-toggle="tooltip" data-placement="top" title="{{ _("Роздрукувати профайл") }}"><i class="fa fa-print"></i></a></li>
                </ul>
                <header class="profile-header">
                    <h1 class="pep-name" itemprop="name">{{ company.name }}</h1>
                </header>
                <div id="personal" class="sub">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            {% if company.edrpou %}
                            <tr>
                                {% if related_countries.registered_in and related_countries.registered_in[0].iso2 != "UA" %}
                                    <td>{{ _("Реєстраційний №") }} </td>
                                {% else %}
                                    <td>{{ _("ЄДРПОУ") }} </td>
                                {% endif %}
                                <td><strong>{{ company.edrpou }}</strong></td>
                            </tr>
                            {% endif %}
                            {% if company.ogrn_code %}
                            <tr>
                                <td>{{ _("ОГРН") }} </td>
                                <td><strong>{{ company.ogrn_code }}</strong></td>
                            </tr>
                            {% endif %}
                            {% if company.also_known_as %}
                            <tr>
                                <td>{{ _("Також відома як") }}</td>
                                <td itemprop="name">{{ company.also_known_as|replace("\n", "<br/>")|safe }}</td>
                            </tr>
                            {% endif %}
                            {% if company.founded %}
                            <tr>
                                <td>{{ _("Дата створення") }} </td>
                                <td><strong>{{ company.founded_human }}</strong></td>
                            </tr>
                            {% endif %}
                            {% if company.website %}
                            <tr>
                                <td><a href="{{ company.website }}" target="_blank"><strong>{{ _("Вебсайт") }}</strong></a></td>
                                <td></td>
                            </tr>
                            {% endif %}
                            {% if company.status %}
                            <tr>
                                <td>{{ _("Поточний стан") }} </td>
                                <td><strong>{{ _(company.get_status_display()) }}</strong>
                                    {% if company.closed_on %}
                                        {{ _("з") }} <strong>{{ company.closed_on_human }}</strong>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endif %}
                            {% if not company.legal_entity %}
                            <tr>
                                <td colspan="2">{{ _("Не є окремою юридичною особою") }} </td>
                            </tr>
                            {% endif %}
                            {% if related_countries.registered_in %}
                            <tr>
                                <td>{{ _("Країна") }} </td>
                                <td><strong>{{ related_countries.registered_in|first }}</strong></td>
                            </tr>
                            {% endif %}
                            {% if company.zip_code or company.city or company.street or company.appt or company.raw_address %}
                            <tr>
                                <td>{{ _("Адреса") }} </td>
                                <td><strong>
                                    {% if company.zip_code -%}
                                        {{ company.zip_code }}, 
                                    {%- endif %}
                                    {% if company.city -%}
                                        {{ company.city }}, 
                                    {%- endif %}
                                    {% if company.street -%}
                                        {{ company.street }}, 
                                    {%- endif %}
                                    {% if company.appt -%}
                                        {{ company.appt }}
                                    {%- endif %}
                                    {% if company.raw_address -%}
                                        {{ company.raw_address }}
                                    {%- endif %}
                                </strong></td>
                            </tr>
                            {% endif %}
                            {% if company|get_translated_field("other_recipient", LANGUAGE_CODE) %}
                            <tr>
                                <td>{{ _("Бенефіціарний власник") }} </td>
                                <td><strong>{{ company|get_translated_field("other_recipient", LANGUAGE_CODE) }}</strong></td>
                            </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
                <a class="load-pep-modal-tree" data-target="#pep-graph-tree">
                    <div id="cy-preview"></div>
                    <i class="fa fa-search-plus hidden"></i>
                </a>

                <div class="modal fade" id="pep-graph-tree" tabindex="-1" role="dialog" aria-labelledby="pep-graph-tree-label">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">{{ company.name }}
                                    <span class="request_took" style="width: 200px; float: right; display: block; font-size: 0.8em; padding: 0 10px"></span>
                                    <div class="loader" style="width: 100px; float: right; height: 20px"></div>
                                </h4>
                            </div>
                            <div class="modal-body cy-wrapper">
                                <div class="cy-full"></div>
                            </div>
                        </div>
                    </div>
                </div>

                {% set last_modified = company.last_modified %}
                {% if last_modified %}
                    <div class="last_modified">
                        {{ _("Остання зміна профілю: ") }}<strong>{{ last_modified|date }}</strong>
                    </div>
                {% endif %}
            </div>
            {% if external_links %}
                <div id="documents" class="sub box">
                    <h3>{{ _("Документи та джерела") }}</h3>
                    <div class="printWrap">
                        {% set comma = joiner("<br />") %}
                        {% for proof in external_links -%}
                            {{ comma()|safe }}<a href="{% if proof.proof %}{{ proof.proof }}{% else %}{{ proof.proof_document.doc.url }}{% endif%}" target="_blank">
                                {{ proof.proof_title|default(_("Посилання"), true) }}
                            </a>
                        {%- endfor %}
                    </div>
                </div>
            {% endif %}
            {% if related_persons.founders or related_companies.founders or
                    company|get_translated_field("other_founders", LANGUAGE_CODE) or 
                    company|get_translated_field("other_owners", LANGUAGE_CODE) %}
                <div id="founders" class="sub box">
                    <h3>{{ _("Засновники:") }}</h3>
                    <div class="printWrap">
                        {{ render_company_companies(related_companies.founders, "Companies") }}

                        {{ render_company_persons(related_persons.founders, "Founders") }}

                        {% if company|get_translated_field("other_founders", LANGUAGE_CODE) %}
                            <h4>{{ _("Інші засновники") }}</h4>
                            {{ company|get_translated_field("other_founders", LANGUAGE_CODE)|richtext }}
                        {% endif %}

                        {% if company|get_translated_field("other_owners", LANGUAGE_CODE) %}
                            <h4>{{ _("Інші власники") }}</h4>
                            {{ company|get_translated_field("other_owners", LANGUAGE_CODE)|richtext }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if related_persons.managers or
                company|get_translated_field("other_managers", LANGUAGE_CODE) %}
                <div id="managers" class="sub box">
                    <h3>{{ _("Керівництво:") }}</h3>
                    <div class="printWrap">
                        {{ render_company_persons(related_persons.managers, "Managers") }}


                        {{ company|get_translated_field("other_managers", LANGUAGE_CODE)|richtext }}
                    </div>
                </div>
            {% endif %}

            {% if related_persons.bank_customers or related_persons.rest or related_countries.rest or related_companies.rest %}
                <div id="connections" class="sub box">
                    <h3>{{ _("Зв'язки:") }}</h3>
                    <div class="printWrap">
                        <div class="tree">
                            <ul>
                                <li>
                                    <span><i class="fa"></i> {{ company.name }}</span>
                                    <ul>
                                        {% if related_persons.rest %}
                                        <li>
                                            <span class="badge badge-success"><i class="faicon fa fa-plus-square"></i> {{ _("Пов'язані особи") }}</span>
                                            <ul class="h">
                                                {{ render_related_persons(related_persons.rest, "worked", for_company=True) }}
                                            </ul>
                                        </li>
                                        {% endif %}
                                        {% if related_persons.bank_customers %}
                                        <li>
                                            <span class="badge badge-success"><i class="faicon fa fa-plus-square"></i> {{ _("Клієнти банку") }}</span>
                                            <ul class="h">
                                                {{ render_related_persons(related_persons.bank_customers, "bank_customers", for_company=True) }}
                                            </ul>
                                        </li>
                                        {% endif %}
                                        {% if related_companies.rest %}
                                        <li>
                                            <span class="badge badge-success"><i class="faicon fa fa-plus-square"></i> {{ _("Пов'язані компанії") }}</span>
                                            <ul class="h">
                                                {% for company in related_companies.rest %}
                                                    <li>
                                                        <a href="{{ company.get_absolute_url() }}">
                                                            <span class="name-pill">
                                                                {{ company.name }}
                                                            </span>
                                                        </a> &ndash;
                                                        {% if company.rtype %}{{ _(company.rtype) }}{% endif %}
                                                        {% if company.connection.equity_part %}
                                                        , {{ _("Частка") }} {{ "{:2.3f}".format(company.connection.equity_part) }}%
                                                        {% endif %}

                                                        {% if company.connection.has_additional_info %}
                                                            <a href="#" class="modalConnectionShow" data-toggle="modal" data-target="#modalCompany-{{ company.pk }}">
                                                               <i class="fa fa-info-circle info-gray"></i>
                                                            </a>
                                                        {% endif %}
                                                        {{ render_connection(company.connection, "modalCompany-{}".format(company.pk)) }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}


            {% if 
                company|get_translated_field("wiki", LANGUAGE_CODE) or company|get_translated_field("wiki", DEFAULT_LANGUAGE_CODE) or
                company|get_translated_field("sanctions", LANGUAGE_CODE) or company|get_translated_field("sanctions", DEFAULT_LANGUAGE_CODE) or
                related_persons.sanctions %}

                <div id="dossier" class="sub box">
                    <h3>{{ _("Досьє:") }}</h3>
                    <div class="printWrap">
                        {% if company|get_translated_field("wiki", LANGUAGE_CODE) %}
                            {{ company|get_translated_field("wiki", LANGUAGE_CODE)|richtext }}
                        {% endif %}
                        {% if company|get_translated_field("sanctions", LANGUAGE_CODE) or related_persons.sanctions %}
                            <h4>{{ _("Санкції") }}</h4>

                            {% if company|get_translated_field("sanctions", LANGUAGE_CODE) %}
                                {{ company|get_translated_field("sanctions", LANGUAGE_CODE)|richtext }}
                            {% endif %}

                            {{ render_company_persons(related_persons.sanctions, "Sanctions") }}
                        {% endif %}

                        {% if LANGUAGE_CODE != DEFAULT_LANGUAGE_CODE and (
                                company|get_translated_field("wiki", DEFAULT_LANGUAGE_CODE) or
                                company|get_translated_field("sanctions", DEFAULT_LANGUAGE_CODE))
                        %}
                            <p><a href="{{ company.localized_url(DEFAULT_LANGUAGE_CODE) }}#dossier">more information is available in {{DEFAULT_LANGUAGE_CODE }} version of the dossier</a></p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if related_companies.banks or company|get_translated_field("bank_name", LANGUAGE_CODE) %}
                <div id="bank" class="sub box">
                    <h3>{{ _("Банківські рахунки:") }}</h3>
                    <div class="printWrap">
                        {{ render_company_companies(related_companies.banks, "Banks") }}

                        {% if company|get_translated_field("bank_name", LANGUAGE_CODE) %}
                            {{ company|get_translated_field("bank_name", LANGUAGE_CODE)|richtext }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </section>
    </div>
</div>
{% endblock %}

{% block javascript %}
    {{ super() }}
    {% javascript 'graph_viz' %}
{% endblock %}
