{% extends "base.jinja" %}
{% from "macros/_connections.jinja" import render_connection, render_company_persons, render_related_person, render_company_companies with context %}
{% block body_class %}not-front profile-page company-profile page{% endblock %}

{% block page_title %}{{ company.name }} {% endblock %}

{% block extra_menu %}
    {% if request.user.is_superuser %}
        <li class="edit-page">
            <a href="{{ url('admin:core_company_change', company.id) }}" target="_blank"><i class="fa fa-pencil-square-o"></i></a>
        </li>
    {% endif %}
{% endblock %}


{% block content %}
{% set related_persons = company.all_related_persons %}
{% set related_countries = company.all_related_countries %}
{% set related_companies = company.all_related_companies %}

<div class="container" itemscope itemtype="http://schema.org/Organization">
    <div class="row">
        <div id="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="{{ url("wagtail_serve", "") }}">{{ _("Головна") }}</a></li>
                <li class="active">{{ _("Публічні діячі") }}</li>
                <li class="active">{{ company.name }}</li>
            </ol>
        </div>
        <aside id="profile-nav" role="complementary" class="col-sm-2 hidden-xs">
            <ul id="side-profilemenu">
                <li><a href="#personal" class="btn btn-transp trans"><i class="fa fa-info"></i><span>{{ _("Дані") }}</span></a></li>
                {% if related_persons.founders or related_companies.founders or
                   (company.other_founders_en and LANGUAGE_CODE == "en") or (company.other_owners_en and LANGUAGE_CODE == "en") or 
                   (company.other_founders_uk and LANGUAGE_CODE == "uk") or (company.other_owners_uk and LANGUAGE_CODE == "uk") %}
                <li><a href="#founders" class="btn btn-transp trans"><i class="fa fa-male"></i><span>{{ _("Засновники") }}</span></a></li>
                {% endif %}

                {% if related_persons.managers or
                    (company.other_managers_en and LANGUAGE_CODE == "en") or
                    (company.other_managers_uk and LANGUAGE_CODE == "uk") %}
                <li><a href="#managers" class="btn btn-transp trans"><i class="fa fa-users"></i><span>{{ _("Керівництво") }}</span></a></li>
                {% endif %}

                {% if related_persons.rest or related_countries.rest or related_companies.rest %}
                <li><a href="#connections" class="btn btn-transp trans"><i class="fa fa-heart"></i><span>{{ _("Зв'язки") }}</span></a></li>
                {% endif %}

                {% if (company.wiki_en and LANGUAGE_CODE == "en") or (company.sanctions_en and LANGUAGE_CODE == "en") or
                    (company.wiki_uk and LANGUAGE_CODE == "uk") or (company.sanctions_uk and LANGUAGE_CODE == "uk") or
                    related_persons.sanctions %}
                <li><a href="#dossier" class="btn btn-transp trans"><i class="fa fa-briefcase"></i><span>{{ _("Досьє") }}</span></a></li>
                {% endif %}

                {% if (company.bank_name_en and LANGUAGE_CODE == "en") or (company.bank_name_uk and LANGUAGE_CODE == "uk") %}
                <li><a href="#bank" class="btn btn-transp trans"><i class="fa fa-money"></i><span>{{ _("Фінансова інформація") }}</span></a></li>
                {% endif %}
            </ul>
        </aside>
        <section id="profile" class="col-sm-8">
            <link itemprop="url" href="{{ company.get_absolute_url() }}" />
            <div id="profile-wrap" class="box">
                <ul class="profileActions">
                    <li><a href="?format=pdf" class="tooltip-anchor" data-toggle="tooltip" data-placement="top" title="{{ _("Скачати PDF") }}" target="_blank"><i class="fa fa-file-pdf-o"></i></a></li>
                    <li><a href="#" class="tooltip-anchor print-me" data-toggle="tooltip" data-placement="top" title="{{ _("Роздрукувати профайл") }}"><i class="fa fa-print"></i></a></li>
                </ul>
                <header class="profile-header">
                    <h1 class="pep-name" itemprop="name">{{ company.name }}</h1>
                </header>
                <div id="personal" class="sub">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            {% if company.edrpou %}
                            <tr>
                                {% if related_countries.registered_in and related_countries.registered_in[0].iso2 != "UA" %}
                                    <td>{{ _("Реєстраційний №") }} </td>
                                {% else %}
                                    <td>{{ _("ЄДРПОУ") }} </td>
                                {% endif %}
                                <td><strong>{{ company.edrpou }}</strong></td>
                            </tr>
                            {% endif %}
                            {% if company.founded %}
                            <tr>
                                <td>{{ _("Дата створення") }} </td>
                                <td><strong>{{ company.founded_human }}</strong></td>
                            </tr>
                            {% endif %}
                            {% if related_countries.registered_in %}
                            <tr>
                                <td>{{ _("Країна") }} </td>
                                <td><strong>{{ related_countries.registered_in|first }}</strong></td>
                            </tr>
                            {% endif %}
                            {% if company.zip_code or company.city or company.street or company.appt %}
                            <tr>
                                <td>{{ _("Адреса") }} </td>
                                <td><strong>
                                    {% if company.zip_code -%}
                                    {{ company.zip_code }}, 
                                    {%- endif %}
                                    {% if company.city -%}
                                    {{ company.city }}, 
                                    {%- endif %}
                                    {% if company.street -%}
                                    {{ company.street }}, 
                                    {%- endif %}
                                    {% if company.appt -%}
                                    {{ company.appt }}
                                    {%- endif %}
                                </strong></td>
                            </tr>
                            {% endif %}
                            {% if company.other_recipient_en and LANGUAGE_CODE == "en" %}
                            <tr>
                                <td>{{ _("Бенефіціарний власник") }} </td>
                                <td><strong>{{ company.other_recipient_en }}</strong></td>
                            </tr>
                            {% elif company.other_recipient_uk and LANGUAGE_CODE == "uk" %}
                            <tr>
                                <td>{{ _("Бенефіціарний власник") }} </td>
                                <td><strong>{{ company.other_recipient_uk }}</strong></td>
                            </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
            {% if related_persons.founders or related_companies.founders or
               (company.other_founders_en and LANGUAGE_CODE == "en") or (company.other_owners_en and LANGUAGE_CODE == "en") or 
               (company.other_founders_uk and LANGUAGE_CODE == "uk") or (company.other_owners_uk and LANGUAGE_CODE == "uk") %}
                <div id="founders" class="sub box">
                    <h3>{{ _("Засновники:") }}</h3>
                    <div class="printWrap">
                        {{ render_company_companies(related_companies.founders, "Companies") }}

                        {{ render_company_persons(related_persons.founders, "Founders") }}

                        {% if company.other_founders_en and LANGUAGE_CODE == "en" %}
                            <h4>{{ _("Інші засновники") }}</h4>
                            {{ company.other_founders_en|richtext }}
                        {% elif company.other_founders_uk and LANGUAGE_CODE == "uk" %}
                            <h4>{{ _("Інші засновники") }}</h4>
                            {{ company.other_founders_uk|richtext }}
                        {% endif %}

                        {% if company.other_owners_en and LANGUAGE_CODE == "en" %}
                            <h4>{{ _("Інші власники") }}</h4>
                            {{ company.other_owners_en|richtext }}
                        {% elif company.other_owners_uk and LANGUAGE_CODE == "uk" %}
                            <h4>{{ _("Інші власники") }}</h4>
                            {{ company.other_owners_uk|richtext }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if related_persons.managers or
                (company.other_managers_en and LANGUAGE_CODE == "en") or
                (company.other_managers_uk and LANGUAGE_CODE == "uk") %}
                <div id="managers" class="sub box">
                    <h3>{{ _("Керівництво:") }}</h3>
                    <div class="printWrap">
                        {{ render_company_persons(related_persons.managers, "Managers") }}

                        {% if LANGUAGE_CODE == "en" %}
                            {{ company.other_managers_en|richtext }}
                        {% elif LANGUAGE_CODE == "uk" %}
                            {{ company.other_managers_uk|richtext }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if related_persons.rest or related_countries.rest or related_companies.rest %}
                <div id="connections" class="sub box">
                    <h3>{{ _("Зв'язки:") }}</h3>
                    <div class="printWrap">
                        <div class="tree">
                            <ul>
                                <li>
                                    <span><i class="fa"></i> {{ company.name }}</span>
                                    <ul>
                                        {% if related_persons.rest %}
                                        <li>
                                            <span class="badge badge-success"><i class="faicon fa fa-plus-square"></i> {{ _("Пов'язані особи") }}</span>
                                            <ul class="h">
                                                {% for rp in related_persons.rest %}
                                                    {{ render_related_person(rp, "worked") }}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        {% endif %}
                                        {% if related_countries.rest %}
                                        <li>
                                            <span class="badge badge-success"><i class="faicon fa fa-plus-square"></i> {{ _("Пов'язані країни") }}</span>
                                            <ul class="h">
                                                {% for country in related_countries.rest %}
                                                    <li>
                                                        <a href="{{ country.get_absolute_url() }}">
                                                            <span class="name-pill">
                                                                {{ country.name }}
                                                            </span>
                                                        </a> &ndash;
                                                        {% if country.rtype %}{{ _(country.connection.get_relationship_type_display()) }}{% endif %}

                                                        {% if country.connection.has_additional_info %}
                                                            <a href="#" class="modalConnectionShow" data-toggle="modal" data-target="#modalCountry-{{ country.pk }}">
                                                               <i class="fa fa-info-circle info-gray"></i>
                                                            </a>
                                                        {% endif %}
                                                        {{ render_connection(country.connection, "modalCountry-{}".format(country.pk)) }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        {% endif %}
                                        {% if related_companies.rest %}
                                        <li>
                                            <span class="badge badge-success"><i class="faicon fa fa-plus-square"></i> {{ _("Пов'язані компанії") }}</span>
                                            <ul class="h">
                                                {% for company in related_companies.rest %}
                                                    <li>
                                                        <a href="{{ company.get_absolute_url() }}">
                                                            <span class="name-pill">
                                                                {{ company.name }}
                                                            </span>
                                                        </a> &ndash;
                                                        {% if company.rtype %}{{ _(company.rtype) }}{% endif %}

                                                        {% if company.connection.has_additional_info %}
                                                            <a href="#" class="modalConnectionShow" data-toggle="modal" data-target="#modalCompany-{{ company.pk }}">
                                                               <i class="fa fa-info-circle info-gray"></i>
                                                            </a>
                                                        {% endif %}
                                                        {{ render_connection(company.connection, "modalCompany-{}".format(company.pk)) }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        {% endif %}                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}


            {% if (company.wiki_en and LANGUAGE_CODE == "en") or (company.sanctions_en and LANGUAGE_CODE == "en") or
                (company.wiki_uk and LANGUAGE_CODE == "uk") or (company.sanctions_uk and LANGUAGE_CODE == "uk") or
                related_persons.sanctions %}
                <div id="dossier" class="sub box">
                    <h3>{{ _("Досьє:") }}</h3>
                    <div class="printWrap">
                        {% if company.wiki_en and LANGUAGE_CODE == "en" %}
                            {{ company.wiki_en|richtext }}
                        {% elif company.wiki_uk and LANGUAGE_CODE == "uk" %}
                            {{ company.wiki_uk|richtext }}
                        {% endif %}
                        {% if (company.sanctions_en and LANGUAGE_CODE == "en") or (company.sanctions_uk and LANGUAGE_CODE == "uk") or related_persons.sanctions %}
                            <h4>{{ _("Санкції") }}</h4>

                            {% if company.sanctions_en and LANGUAGE_CODE == "en" %}
                                {{ company.sanctions_en|richtext }}
                            {% elif company.sanctions_uk and LANGUAGE_CODE == "uk" %}
                                {{ company.sanctions_uk|richtext }}
                            {% endif %}

                            {{ render_company_persons(related_persons.sanctions, "Sanctions") }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if (company.bank_name_en and LANGUAGE_CODE == "en") or (company.bank_name_uk and LANGUAGE_CODE == "uk") %}
                <div id="bank" class="sub box">
                    <h3>{{ _("Фінансова інформація:") }}</h3>
                    <div class="printWrap">
                        {% if company.bank_name_en and LANGUAGE_CODE == "en" %}
                            {{ company.bank_name_en|richtext }}
                        {% elif company.bank_name_uk and LANGUAGE_CODE == "uk" %}
                            {{ company.bank_name_uk|richtext }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </section>
    </div>
</div>
{% endblock %}