{% extends "base.jinja" %}
{% from "macros/_pagination.jinja" import render_pagination with context %}
{% from "macros/_search.jinja" import render_person, render_company with context %}
{% block body_class %}not-front search-by-country-page page{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <div id="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="{{ url("wagtail_serve", "") }}">{{ _("Головна") }}</a></li>
                    <li class="active">{{ _("Країни") }}</li>
                    <li class="active">{% if country %}{{ country.name }}{% else %}{{ _("Усі країни") }}{% endif %}</li>
                </ol>
            </div>

            <section id="search-by-country">
                <h1 class="so">{{ _("Пошук по країнах") }}</h1>

                <div class="form-inline" id="country-selection-form">
                    <div class="form-group">
                        <select class="combobox country-list input-large form-control">
                            <option value="" {% if not country %}selected{% endif %}>{{ _("Оберіть країну") }}</option>
                            <option value="all" data-url="{{ url("countries_home") }}">{{ _("Усі країни") }}</option>
                            {% for cntry in used_countries %}
                                <option
                                    {% if country and country.iso2 == cntry.iso2 %}selected{% endif %}
                                    data-url="{{ url("countries", country_id=cntry.iso2) }}" value={{ cntry.iso2 }}>{{ cntry.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="page-content">
                    <div class="pep-tab" data-example-id="togglable-tabs">
                        <ul id="myTabs" class="nav nav-tabs" role="tablist">
                            {% if persons %}
                                <li role="presentation" class="active">
                                    <a href="#f" id="fiziki" role="tab" data-toggle="tab" aria-controls="fiziki"
                                       aria-expanded="true">{{ _("Фізичні особи") }} <span class="badge">{{ persons.paginator.count }}</span></a>
                                </li>
                            {% endif %}
                            {% if companies %}
                                <li role="presentation" class="{% if not persons %}active{% endif %}">
                                    <a href="#y" role="tab" id="yuriki" data-toggle="tab" aria-controls="profile"
                                       aria-expanded="false">{{ _("Юридичні особи") }} <span class="badge">{{ companies.paginator.count }}</span></a>
                                </li>
                            {% endif %}
                        </ul>
                        <div id="pepTabContent" class="tab-content">
                            {% if persons %}
                                <div role="tabpanel" class="tab-pane fade active in" id="f" aria-labelledby="fiziki">
                                     {% for p in persons %}
                                        {{ render_person(p, include_related_persons=False) }}
                                        {% if loop.index is divisibleby 2 %}
                                            <div class="clearfix"></div>
                                        {% endif %}
                                    {% endfor %}
    
                                    <div class="clearfix"></div>
                                    {% if persons.paginator.num_pages > 1 %}
                                        <div class="text-center">
                                            <nav>
                                                {{ render_pagination(persons, "") }}
                                            </nav>
                                        </div>
                                    {% endif %}
     
                                </div>
                            {% endif %}
                            {% if companies %}
                                <div role="tabpanel" class="tab-pane fade{% if companies  and not(persons) %} active in{% endif %}" id="y" aria-labelledby="yuriki">
                                    {% for c in companies %}
                                        {{ render_company(c) }}
                                        {% if loop.index is divisibleby 2 %}
                                            <div class="clearfix"></div>
                                        {% endif %}
                                    {% endfor %}
    
                                    <div class="clearfix"></div>
                                    {% if companies.paginator.num_pages > 1 %}
                                        <div class="text-center">
                                            <nav>
                                                {{ render_pagination(companies, "") }}
                                            </nav>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}