{% extends "base.jinja" %}

{% block body_class %}front{% endblock %}

{% block extra_menu %}
    {% if request.user.is_superuser %}
        <li>
            <a class="btn btn-default trans" href="{{ url('wagtailadmin_pages_edit', root_page.id) }}" target="_blank">Редагувати</a>
        </li>
    {% endif %}
{% endblock %}


{% block content %}
    <section id="searchbox" class="">
        <div class="container">
            <div class="row">
                <h1 class="text-center">Search for property of Ukrainian officials </h1>
                <p class="text-center">Our project - a struggle with Ukrainian Politically Exposed Persons (PEP), who stole money and property, and then take it to Europe.</p> 
                <p class="text-center">But we find! <a herf="#">Know more about project</a></p>

                <div class="col-lg-6 col-md-8 col-xs-12 col-lg-offset-3 col-md-offset-2">
                    <form action="{{ url("search") }}" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter name here" name="q" data-provide="typeahead" id="search-form" autocomplete="off" />
                            <span class="input-group-btn"><button class="btn btn-danger" type="submit">Search</button></span>
                        </div>
                    </form>
                    <!-- /input-group --> 
                </div>
            </div>
        </div>
    </section>
    

    <selection id="sponsors">
        <div class="container">
            <div class="row">
                <p class="text-center">Maintainers, sponsors and so on</p>

                {% for banner in banners %}
                    <div class="sponsor text-center col-md-3 col-xs-6">
                        <a href="{{ banner.link }}" target="_blank">
                        <img src="{{ banner.image.get_rendition("original").url }}" alt="{{ banner.caption }}" class="img-responsive mc"
                        title="{{ banner.caption }}"/>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </selection>

    <div class="cp"></div> <!--   clear padding  -->
{% endblock %}