{% extends "base.jinja" %}
{% from "macros/_connections.jinja" import render_connection %}

{% block page_title %}{{ person.last_name }} {{ person.first_name }} {{ person.patronymic }}, {{ person.last_workplace[0] }}, {{ person.last_workplace[1] }}{% endblock %}

{% block extra_menu %}
    {% if request.user.is_superuser %}
        <li>
            <a href="{{ url('admin:core_person_change', person.id) }}" target="_blank"><i class="fa fa-pencil-square-o"></i></a>
        </li>
    {% endif %}
{% endblock %}

{% macro render_related_person(person, type) %}
    <li itemprop="{% if type == "family" %}relatedTo{% else %}knows{% endif %}" itemscope itemtype="http://schema.org/Person">
        <a href="{{ person.get_absolute_url() }}" itemprop="url">
            <span class="{% if person.is_pep %}is_pep {% endif %}name-pill" itemprop="name">
                <span itemprop="familyName">{{ person.last_name }}</span> <span itemprop="givenName">{{ person.first_name }}</span> <span itemprop="additionalName">{{ person.patronymic }}</span>
            </span>
        </a> &ndash;
        {% if person.rtype %}{{ _(person.rtype) }},{% endif %}
        {% if person.dob %} <meta itemprop="birthDate" content="{{ person.dob }} "/> {{ person.date_of_birth }},{% endif %}

        {% set last_workplace = person.last_workplace %}
        {% if last_workplace %}
        <span itemscope itemtype="http://schema.org/Organization" itemprop="worksFor">{{ person.last_workplace[0] }}</span>,
        <span itemprop="jobTitle">{{ person.last_workplace[1] }}</span>
        {% endif %}
        

        {% if person.connection.has_additional_info %}
            <a href="#" class="modalConnectionShow" data-toggle="modal" data-target="#modalPerson-{{ person.pk }}">
               <i class="fa fa-info-circle info-gray"></i>
            </a>
        {% endif %}
        {{ render_connection(person.connection, "modalPerson-{}".format(person.pk)) }}
    </li>
{% endmacro %}


{% block content %}
{% set related_persons = person.all_related_persons %}
{% set workplaces = person.workplaces %}
<div class="container" itemscope itemtype="http://schema.org/Person">
    <div class="row">
        <div id="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="{{ url("wagtail_serve", "") }}">{{ _("Головна") }}</a></li>
                <li class="active">{{ _("Публічні діячі") }}</li>
                <li class="active">{{ person.last_name }} {{ person.first_name }} {{ person.patronymic }}</li>
            </ol>
        </div>
        <aside id="profile-nav" role="complementary" class="col-sm-2 hidden-xs">
            <ul id="side-profilemenu">
                <li><a href="#personal" class="btn btn-transp trans"><i class="fa fa-male"></i> <span>{{ _("Персональні дані") }}</span></a></li>
                <li><a href="#profile" class="btn btn-transp trans"><i class="fa fa-briefcase"></i> {{ _("Досьє") }}</a></li>
                {% if person.reputation_sanctions or person.reputation_crimes or person.reputation_manhunt or person.reputation_convictions %}
                <li><a href="#reputation" class="btn btn-transp trans"><i class="fa fa-bullhorn"></i>{{ _("Репутація") }}</a></li>
                {% endif %}
                {% if workplaces %}
                <li><a href="#workbefore" class="btn btn-transp trans"><i class="fa fa-wrench"></i> {{ _("Кар'єра") }}</a></li>
                {% endif %}
                {% if related_persons.all %}
                <li><a href="#connections" class="btn btn-transp trans"><i class="fa fa-heart"></i> {{ _("З'вязки") }}</a></li>
                {% endif %}
                {% if person.assets or person.reputation_assets %}
                <li><a href="#assets" class="btn btn-transp trans"><i class="fa fa-cubes"></i> {{ _("Статки") }}</a></li>
                {% endif %}
            </ul>
        </aside>
        <section id="profile" class="{%- if person.parsed_names %}col-sm-8{% else %}col-sm-10{% endif -%}">
            <link itemprop="url" href="{{ person.get_absolute_url() }}" />
            <div id="profile-wrap" class="box">
                <header class="profile-header">
                    {% if person.photo %}
                    <div class="avatar">
                    <img src="{{ person.photo|thumbnail_url("avatar") }}" itemprop="image" alt="{{ person.last_name }} {{ person.first_name }} {{ person.patronymic }}"/>
                    </div>
                    {% endif %}
                    <h1 class="pep-name" itemprop="name"><span itemprop="familyName">{{ person.last_name }}</span> <span class="pep-pib"><span itemprop="givenName">{{ person.first_name }}</span> <span itemprop="additionalName">{{ person.patronymic }}</span></h1>
                </header>
                <div id="personal" class="sub">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            {% if person.type_of_official %}
                            <tr>
                                <td>{{ _("Категорія ПЕП") }} </td>
                                <td><strong>{{ person.get_type_of_official_display() }}</strong></td>
                            </tr>
                            {% endif %}
                            {% if person.dob %}
                            <tr>
                                <td>{{ _("Дата народження") }}</td>
                                <td>
                                    <meta itemprop="birthDate" content="{{ person.dob }} "/>
                                    {{ person.date_of_birth }}
                                </td>
                            </tr>
                            {% endif %}
                            {% if person.city_of_birth %}
                            <tr>
                                <td>{{ _("Місце народження") }}</td>
                                <td itemprop="birthPlace">{{ person.city_of_birth }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td>{{ _("Остання посада") }}</td>
                                <td>
                                    <strong>
                                        <span itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">{{ person.last_workplace[0] }}</span>, 
                                        <span itemprop="jobTitle">{{ person.last_workplace[1] }}</span>
                                    </strong>
                                </td>
                            </tr>
                            <tr class="tooltip-anchor" data-toggle="tooltip" data-placement="bottom" title="Какой-то пояснительный текст что-это означает и чтобы всем вообще было понятно :)">
                                <td>{{ _("Рівень ризику") }}</td>
                                <td><strong>{{ person.get_risk_category_display() }}</strong></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            {% if person.wiki %}
            <div id="profile" class="sub box" itemprop="description">
                <h3>{{ _("Досьє:") }}</h3>
                <br />
                {{ person.wiki|markdown }}
            </div>
            {% endif %}

            {% if person.reputation_sanctions or person.reputation_crimes or person.reputation_manhunt or person.reputation_convictions %}
            <div id="reputation" class="sub box">
                <h3>{{ _("Репутація:") }}</h3>
                <br />
                {% if person.reputation_sanctions %}
                    <h4>{{ _("Санкції") }}</h4>
                    {{ person.reputation_sanctions|markdown }}
                {% endif %}
                {% if person.reputation_crimes %}
                    <h4>{{ _("Кримінальні впровадження") }}</h4>
                    {{ person.reputation_crimes|markdown }}
                {% endif %}
                {% if person.reputation_manhunt %}
                    <h4>{{ _("Перебування у розшуку") }}</h4>
                    {{ person.reputation_manhunt|markdown }}
                {% endif %}
                {% if person.reputation_convictions %}
                    <h4>{{ _("Наявність судимості") }}</h4>
                    {{ person.reputation_convictions|markdown }}
                {% endif %}
            </div>
            {% endif %}

            {% if workplaces %}
            <div id="workbefore" class="sub box">
                <h3>{{ _("Кар'єра:") }}</h3>
                <div id="element">
                    <ul class="timeline">
                        {% for date_tag, type, connection in person.workplaces %}
                        <li class="tl-item">
                            <div class="tl-wrap">
                                <span class="tl-date">
                                    {% if date_tag %}
                                        {% if type == "from" %}
                                            {{ _("з") }}
                                        {% elif type == "to" %}
                                            {{ _("по") }}
                                        {% endif %}
                                        {{ date_tag }}
                                    {% endif %}
                                </span>
                                <div class="tl-content panel padder b-a">
                                    <span class="arrow left pull-up"></span>
                                    <div>
                                        <span itemscope itemtype="http://schema.org/Organization" itemprop="worksFor">{{ connection.to_company }}</span>, {{ connection.relationship_type }}
                                        {% if connection.has_additional_info %}
                                            <a href="#" class="modalConnectionShow" data-toggle="modal" data-target="#modalWork-{{ loop.index }}">
                                               <i class="fa fa-info-circle info-gray"></i>
                                            </a>
                                        {% endif %}
                                    </div>   
                                </div>
                            </div>
                            {{ render_connection(connection, "modalWork-{}".format(loop.index)) }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            {% if related_persons.all %}
            <div id="connections" class="sub box">
                <h3>{{ _("Зв'язки:") }}</h3>
                <div class="tree">
                    <ul>
                        <li>
                            <span><i class="fa"></i> {{ person.last_name }} {{ person.first_name }} {{ person.patronymic }}</span>
                            <ul>
                                {% if related_persons.family %}
                                <li>
                                    <span class="badge badge-success"><i class="faicon fa fa-plus-square"></i> {{ _("Родина та близькі особи") }} <i class="fa fa-heart"></i></span>
                                    <ul class="h">
                                        {% for rp in related_persons.family %}
                                            {{ render_related_person(rp, "family") }}
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endif %}
                                {% if related_persons.personal %}
                                <li>
                                    <span class="badge badge-success"><i class="faicon fa fa-plus-square"></i> {{ _("Персональні зв'язки") }} <i class="fa fa-user-secret"></i></span>
                                    <ul class="h">
                                        {% for rp in related_persons.personal %}
                                            {{ render_related_person(rp, "personal") }}
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endif %}
                                {% if related_persons.business %}
                                <li>
                                    <span class="badge badge-success"><i class="faicon fa fa-plus-square"></i> {{ _("Ділові зв'язки") }} <i class="fa fa-users"></i></span>
                                    <ul class="h">
                                        {% for rp in related_persons.business %}
                                            {{ render_related_person(rp, "business") }}
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            {% endif %}
            {% if person.assets or person.reputation_assets %}
            <div id="assets" class="sub box">
                <h3>{{ _("Статки:") }}</h3>
                {% for asset in person.assets %}
                    <div class="panel panel-default">
                        <div class="panel-body" itemscope itemtype="http://schema.org/Organization" itemprop="affiliation">
                            {{ asset.to_company }}
                            {% if asset.to_company.edrpou %}
                            , {{ _("ЄДРПОУ") }} {{ asset.to_company.edrpou }}
                            {% endif%}
                        </div>
                        <div class="panel-footer">
                            {{ asset.relationship_type }}

                            {% if asset.has_additional_info %}
                            <a href="#" class="modalConnectionShow" data-toggle="modal" data-target="#modalAsset-{{ loop.index }}">
                                <i class="fa fa-info-circle info-gray"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>                
                    
                    {{ render_connection(asset, "modalAsset-{}".format(loop.index)) }}
                {% endfor %}
                {% if person.reputation_assets %}
                    {{ person.reputation_assets|markdown }}
                {% endif %}
            </div>
            {% endif %}
        </section>
        {% if person.parsed_names %}
        <aside id="profile-suggest" role="complementary" class="col-lg-2">
            
            <h3>{{ _("Можливо ви шукали:") }}</h3>
            <ul>
                {% for name_alt in person.parsed_names %}
                <li itemprop="alternateName">{{ name_alt }}</li>
                {% endfor %}
            </ul>
        </aside>
        {% endif %}
    </div>
</div>
{% endblock %}