{% extends "base.jinja" %}

{% block extra_menu %}
    {% if request.user.is_superuser %}
        <li>
            <a class="btn btn-default trans" href="{{ url('admin:core_person_change', person.id) }}" target="_blank">{{ _("Редагувати") }}</a>
        </li>
    {% endif %}
{% endblock %}

{% macro render_related_person(person, type) %}
    <li>
        <a href="{{ person.get_absolute_url() }}">
            <span {% if person.is_pep %}class="is_pep"{% endif %}>
                <i class="fa {% if type == "family" %}fa-heart{% elif type == "personal" %}fa-user-secret{% else %}fa-users{% endif %}"></i>
                {{ person.last_name }} {{ person.first_name }} {{ person.patronymic }}
            </span> &ndash;
            {% if person.rtype %}{{ _(person.rtype) }},{% endif %}
            {% if person.dob %} {{ person.date_of_birth }},{% endif%}
            {{ person.last_workplace }}
        </a>
    </li>
{% endmacro %}


{% block content %}
{% set related_persons = person.all_related_persons %}
<div class="container">
    <div class="row">
        <div id="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="{{ url("home") }}">{{ _("Головна") }}</a></li>
                <li><a href="#">{{ _("Результати пошуку") }}</a></li>
                <li class="active">{{ _("Публічні діячі") }}</li>
            </ol>
        </div>
        <aside id="profile-nav" role="complementary" class="col-lg-2">
            <ul id="side-profilemenu">
                <li><a href="#personal" class="btn btn-transp trans"><i class="fa fa-male"></i> <span>{{ _("Персональні дані") }}</span></a></li>
                <li><a href="#profile" class="btn btn-transp trans"><i class="fa fa-briefcase"></i> {{ _("Досьє") }}</a></li>
                {% if person.reputation_sanctions or person.reputation_crimes or person.reputation_manhunt or person.reputation_convictions %}
                <li><a href="#reputation" class="btn btn-transp trans"><i class="fa fa-bullhorn"></i>{{ _("Репутація") }}</a></li>
                {% endif %}

                {% if related_persons.all %}
                <li><a href="#connections" class="btn btn-transp trans"><i class="fa fa-heart"></i> {{ _("З'вязки") }}</a></li>
                {% endif %}
                <li><a href="#workbefore" class="btn btn-transp trans"><i class="fa fa-wrench"></i> {{ _("Робота") }}</a></li>
                {% if person.assets or person.reputation_assets %}
                <li><a href="#assets" class="btn btn-transp trans"><i class="fa fa-cubes"></i> {{ _("Майно") }}</a></li>
                {% endif %}
            </ul>
        </aside>
        <section id="profile" class="col-lg-8">
            <div id="profile-wrap" class="box">
                <header class="profile-header">
                    {% if person.photo %}
                    <div class="avatar">
                    <img src="{{ person.photo|thumbnail_url("avatar") }}" alt="{{ person.last_name }} {{ person.first_name }} {{ person.patronymic }}"/>
                    </div>
                    {% endif %}
                    <h1 class="pep-name">{{ person.last_name }} <span class="pep-pib">{{ person.first_name }} {{ person.patronymic }}</span></h1>
                </header>
                <div id="personal" class="sub">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            {% if person.type_of_official %}
                            <tr>
                                <td>{{ _("Категорія ПЕП") }} </td>
                                <td><strong>{{ person.get_type_of_official_display() }}</strong></td>
                            </tr>
                            {% endif %}
                            {% if person.dob %}
                            <tr>
                                <td>{{ _("Дата народження") }}</td>
                                <td>
                                {%- if person.dob_details == 0 %}
                                {{ person.dob|date }}
                                {% elif person.dob_details == 1 %}
                                {{ person.dob|date("m.Y") }}
                                {% else %}
                                {{ person.dob|date("Y") }}
                                {% endif -%}
                                </td>
                            </tr>
                            {% endif %}
                            {% if person.city_of_birth %}
                            <tr>
                                <td>{{ _("Місце народження") }}</td>
                                <td>{{ person.city_of_birth }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td>{{ _("Рівень ризику") }}</td>
                                <td><strong>{{ person.get_risk_category_display() }}</strong></td>
                            </tr>
                            <tr>
                                <td>{{ _("Остання посада") }}</td>
                                <td><strong>{{ person.last_workplace }}</strong></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            {% if person.wiki %}
            <div id="profile" class="sub box">
                <h3>{{ _("Досьє:") }}</h3>
                <br />
                {{ person.wiki|markdown }}
            </div>
            {% endif %}

            {% if person.reputation_sanctions or person.reputation_crimes or person.reputation_manhunt or person.reputation_convictions %}
            <div id="reputation" class="sub box">
                <h3>{{ _("Репутація:") }}</h3>
                <br />
                {% if person.reputation_sanctions %}
                    <h4>{{ _("Санкції") }}</h4>
                    {{ person.reputation_sanctions|markdown }}
                {% endif %}
                {% if person.reputation_crimes %}
                    <h4>{{ _("Кримінальні впровадження") }}</h4>
                    {{ person.reputation_crimes|markdown }}
                {% endif %}
                {% if person.reputation_manhunt %}
                    <h4>{{ _("Перебування у розшуку") }}</h4>
                    {{ person.reputation_manhunt|markdown }}
                {% endif %}
                {% if person.reputation_convictions %}
                    <h4>{{ _("Наявність судимості") }}</h4>
                    {{ person.reputation_convictions|markdown }}
                {% endif %}
            </div>
            {% endif %}

            {% if related_persons.all %}
            <div id="connections" class="sub box">
                <h3>{{ _("Зв'язки:") }}</h3>
                <div class="tree">
                    <ul>
                        <li>
                            <span><i class="icon-calendar">{{ person.last_name }} {{ person.first_name }} {{ person.patronymic }}</i></span>
                            <ul>
                                {% if related_persons.family %}
                                <li>
                                    <span class="badge badge-success"><i class="fa fa-plus-square"></i> {{ _("Родина та близькі особи") }}</span>
                                    <ul class="h">
                                        {% for rp in related_persons.family %}
                                            {{ render_related_person(rp, "family") }}
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endif %}
                                {% if related_persons.personal %}
                                <li>
                                    <span class="badge badge-success"><i class="fa fa-plus-square"></i> {{ _("Персональні зв'язки") }}</span>
                                    <ul class="h">
                                        {% for rp in related_persons.personal %}
                                            {{ render_related_person(rp, "personal") }}
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endif %}
                                {% if related_persons.business %}
                                <li>
                                    <span class="badge badge-success"><i class="fa fa-plus-square"></i> {{ _("Ділові зв'язки") }}</span>
                                    <ul class="h">
                                        {% for rp in related_persons.business %}
                                            {{ render_related_person(rp, "business") }}
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            {% endif %}
            <div id="workbefore" class="sub box">
                <h3>{{ _("Робота:") }}</h3>
                <div id="element">
                    <ul class="timeline">
                        {% for date_tag, type, connection in person.workplaces %}
                        <li class="tl-item">
                            <div class="tl-wrap">
                                <span class="tl-date">
                                    {% if date_tag %}
                                        {% if type == "from" %}
                                            {{ _("з") }}
                                        {% elif type == "to" %}
                                            {{ _("по") }}
                                        {% endif %}
                                        {{ date_tag }}
                                    {% endif %}
                                </span>
                                <div class="tl-content panel padder b-a">
                                    <span class="arrow left pull-up"></span>
                                    <div>{{ connection.to_company }}, {{ connection.relationship_type }}</div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% if person.assets or person.reputation_assets %}
            <div id="assets" class="sub box">
                <h3>{{ _("Майно:") }}</h3>
                {% for asset in person.assets %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{ asset.to_company }}
                            {% if asset.to_company.edrpou %}
                            , {{ _("ЄДРПОУ") }}{{ asset.to_company.edrpou }}
                            {% endif%}
                        </div>
                        <div class="panel-footer">
                            {{ asset.relationship_type }}
                        </div>
                    </div>
                {% endfor %}
                {% if person.reputation_assets %}
                    {{ person.reputation_assets|markdown }}
                {% endif %}
            </div>
            {% endif %}
        </section>
        <aside id="profile-suggest" role="complementary" class="col-lg-2">
            {% if person.parsed_names %}
            <h3>{{ _("Можливо ви шукали:") }}</h3>
            <ul>
                {% for name_alt in person.parsed_names %}
                <li>{{ name_alt}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </aside>
    </div>
</div>
{% endblock %}