{% extends "base.jinja" %}

{% block content %}
<div class="container">
    <div class="row">

        <div id="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Головна</a></li>
                <li><a href="#">Результати пошуку</a></li>
                <li class="active">Публічні діячі</li>
            </ol> 
        </div>

        <section id="search-results">
            {% if persons %}
                <h2 class="text-center">Фізичні особи</h2>
                {% for p in persons %}
                <div class="small-profile fizik col-lg-4">
                    <div class="box">
                        <header class="profile-header">
                        {% if p.photo %}
                        <div class="avatar">
                        <img src="{{ p.photo|thumbnail_url("small_avatar") }}" alt="{{ p.last_name }} {{ p.first_name }} {{ p.patronymic }}"/>
                        </div>
                        {% endif %}
                            <h3 class="pep-name">
                                <a href="{{ url("person_details", person_id=p.id) }}">{{ p.last_name }}<span class="pep-pib">{{ p.first_name }} {{ p.patronymic }}</span></a>
                            </h3>
                        </header>

                        <div class="descr">
                            {{ p.type_of_official|default("") }}
                            {% for c in p.related_companies|sort(attribute="state_company", reverse=True) %}
                                {{ c.to_company_short|default(c.to_company) }}:
                                {{ c.relationship_type }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% if loop.index is divisibleby 3 %}
                    <div class="clearfix"></div>
                {% endif %}
                {% endfor %}
            {% endif %}

            {% if companies %}
                <h2 class="text-center">Юридичні особи</h2>

                {% for company in companies %}
                <div class="small-profile yurik col-lg-4">
                    <div class="box">
                        <header class="profile-header">
                            <div class="avatar"></div>
                            <h3 class="pep-name"><span class="pep-pib">{{ company.name }}</span></h3>
                        </header>

                        <div class="descr">
                            {% for c in company.related_persons|sort(attribute="is_pep", reverse=True) %}
                                {{ c.name }}:
                                {{ c.relationship_type }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% if loop.index is divisibleby 3 %}
                    <div class="clearfix"></div>
                {% endif %}
                {% endfor %}
            {% endif %}


            {% if related_persons %}
            <h2 class="text-center">Пов'язані особи</h2>

                {% for p in related_persons %}
                <div class="small-profile fizik col-lg-4">
                    <div class="box">
                        <header class="profile-header">
                            <div class="avatar"><img src="images/kluev.png" width="128" height="128" alt=""/></div>
                            <h3 class="pep-name">
                                <a href="{{ url("person_details", person_id=p.id) }}">{{ p.last_name }}<span class="pep-pib">{{ p.first_name }} {{ p.patronymic }}</span></a>
                            </h3>
                        </header>

                        <div class="descr">
                            {% for c in p.related_persons|sort(attribute="is_pep", reverse=True) %}
                                {{ c.person }}:
                                {{ c.relationship_type }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% if loop.index is divisibleby 3 %}
                    <div class="clearfix"></div>
                {% endif %}
                {% endfor %}
            {% endif %}

        </section>
    </div>
</div>
{% endblock %}