{% extends "base.jinja" %}
{% from "macros/_pagination.jinja" import render_pagination with context %}
{% from "macros/_search.jinja" import render_person, render_company with context %}

{% block content %}
<div class="container">
    <div class="row">

        <div id="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="{{ url("wagtail_serve", "") }}">{{ _("Головна") }}</a></li>
                <li class="active">{{ _("Результати пошуку") }}</li>
                <li class="active">
                    {% if sources == ("persons", ) %}
                    {{ _("Фізичні особи") }}
                    {% elif sources == ("companies", ) %}
                    {{ _("Юридичні особи") }}
                    {% elif sources == ("related", ) %}
                    {{ _("Пов'язані особи") }}
                    {% else %}
                    {{ _("Публічні діячі") }}
                    {% endif %}
                </li>
                {% if query %}
                <li class="active">«{{ query }}»</li>
                {% endif %}
            </ol> 
        </div>

        <section id="search-results">
            {% if not persons and not companies and not related_persons %}
            <h2 class="text-center">{{ _("На жаль, пошук не дав результатів") }}</h2>
            {% endif %}
            {% if persons %}
                <h2 class="text-center">{{ _("Фізичні особи") }}</h2>
                {% for p in persons %}
                    {{ render_person(p) }}
                    {% if loop.index is divisibleby 2 %}
                        <div class="clearfix"></div>
                    {% endif %}
                {% endfor %}
                
                {% if persons.paginator.num_pages > 1 %}
                    <div class="clearfix"></div>
                    <div class="text-center">
                        <nav>
                        {{ render_pagination(persons, url("search_person")) }}
                        </nav>
                    </div>
                {% endif %}
            {% endif %}

            {% if companies %}
            <h2 class="text-center">{{ _("Юридичні особи") }}</h2>
                {% for c in companies %}
                    {{ render_company(c) }}
                    {% if loop.index is divisibleby 2 %}
                        <div class="clearfix"></div>
                    {% endif %}
                {% endfor %}
                
                {% if companies.paginator.num_pages > 1 %}
                    <div class="clearfix"></div>
                    <div class="text-center">
                        <nav>
                        {{ render_pagination(companies, url("search_company")) }}
                        </nav>
                    </div>
                {% endif %}
            {% endif %}

            {% if related_persons %}
            <h2 class="text-center">{{ _("Пов'язані особи") }}</h2>
                {% for p in related_persons %}
                    {{ render_person(p) }}
                    {% if loop.index is divisibleby 2 %}
                        <div class="clearfix"></div>
                    {% endif %}
                {% endfor %}
                
                {% if related_persons.paginator.num_pages > 1 %}
                    <div class="clearfix"></div>
                    <div class="text-center">
                        <nav>
                        {{ render_pagination(related_persons, url("search_related")) }}
                        </nav>
                    </div>
                {% endif %}
            {% endif %}

        </section>
    </div>
</div>
{% endblock %}