{% extends "admin/change_form.html" %}

{% block javascripts %}
    {{ block.super }}

    <script type="text/javascript" charset="utf-8">
        var person2company_rels = {{ person2company_rels|safe }};

        django.jQuery(function(){
            var $ = django.jQuery;

            function init() {
                $(".mt-field-relationship_type-{{ DEFAULT_LANGUAGE_CODE }}").each(function(i, box) {
                    box = $(box);
                    if (box.attr("name").indexOf("__prefix__") == -1) {
                        box.autocomplete({
                            "source": person2company_rels
                        });
                    }
                });
            }

            init();

            $(document.body).on(
                "mouseup",
                ".person2company.grp-add-handler, .djn-model-core-person2company.grp-add-handler",
                function(){
                    window.setTimeout(init, 300)
                });
        });
    </script>
{% endblock %}
