{% extends "admin/change_form.html" %}

{% block javascripts %}
    {{ block.super }}

    <script type="text/javascript" charset="utf-8">
        var person2company_rels = {{ person2company_rels|safe }};
        django.jQuery(function(){
            var $ = django.jQuery;

            function init() {
                $(".mt-field-relationship_type-uk").each(function(i, box) {
                    box = $(box);
                    box.autocomplete({
                        "source": person2company_rels
                    });
                })
            }

            init();

            $(document.body).on("click", ".grp-add-handler", init);
        });
    </script>
{% endblock %}
