<ul style="list-style: disc inside;">
{% for company in companies %}
<li>
{{ company.company_name }}{% if company.beneficial_owner_company_code %} ({{ company.beneficial_owner_company_code }}){% endif %}<br/>
<small>{% if company.legalForm %}{{ company.legalForm }}{% endif %}{% if company.address %}, {{ company.address }}{% endif %}</small>{% if company.link_type %}, {{ company.link_type }}{% endif %}
{% if company.percent_of_cost %}<br/>{{ _("Частка:") }} {{ company.percent_of_cost }}% {% endif %}
{% if company.amount %}<br/>{{ _("Кількість та номінал:") }} {{ company.amount }}, {{ company.cost }} {% endif %}
</li>

{% endfor %}
</ul>