@font-face {
    font-family: 'arsenalbold';
    src: url("../fonts/arsenal-bold.eot");
    src: url("../fonts/arsenal-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/arsenal-bold.woff") format("woff"), url("../fonts/arsenal-bold.ttf.gz") format("truetype");
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'arsenalbold_italic';
    src: url("../fonts/arsenal-bolditalic.eot");
    src: url("../fonts/arsenal-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/arsenal-bolditalic.woff") format("woff"), url("../fonts/arsenal-bolditalic.ttf.gz") format("truetype");
    font-weight: bold;
}


@font-face {
    font-family: 'arsenalitalic';
    src: url("../fonts/arsenal-italic.eot");
    src: url("../fonts/arsenal-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/arsenal-italic.woff") format("woff"), url("../fonts/arsenal-italic.ttf.gz") format("truetype");
    font-weight: normal;
}


@font-face {
    font-family: 'arsenalregular';
    src: url("../fonts/arsenal-regular.eot");
    src: url("../fonts/arsenal-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/arsenal-regular.woff") format("woff"), url("../fonts/arsenal-regular.ttf.gz") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ws';
    src: url("../fonts/web_serveroff-webfont.eot");
    src: url("../fonts/web_serveroff-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/web_serveroff-webfont.woff") format("woff"), url("../fonts/web_serveroff-webfont.ttf") format("truetype"), url("../fonts/web_serveroff-webfont.svg#web_serveroffregular") format("svg");
    font-weight: normal;
    font-style: normal;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: #e9e9e9;
    font-family: 'arsenalregular';
    font-size: 16px;
}

body.front {
    background: #fff;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

.cp {
    display: block;
    padding-bottom: 30px;
}

.clr {
    clear: both;
    height: 1px;
}

a.trans {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.breadcrumb {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 14px;
    margin-top: 20px;
}

.btn-transp {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.84);
    border-radius: 2px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
    margin: 10px 1px;
    position: relative;
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    text-transform: uppercase;
}

.btn-transp:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3), 0 1px 6px rgba(0, 0, 0, 0.3);
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #333;
}

#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #333333;
    padding-top: 30px;
}

#footer td {
    padding: 0 40px 0 0;
    vertical-align: top;
}

#footer p {
    color: #cacaca;
}

.not-front #footer p {
    color: #747171;
}

#footer li {
    color: #cacaca;
    text-transform: uppercase;
    list-style: none;
}

#footer li a {
    color: #cacaca;
    text-transform: uppercase;
    white-space: nowrap;
}

#footer li a:hover {
    color: #4285f4;
    text-decoration: underline;
}

i {
    font-style: normal;
    font-family: 'arsenalitalic';
}

#navbar {
    border: none;
    background: #fff;
    border-radius: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border: none;
}

.not-front .navbar-inverse .navbar-toggle {
    border-color: white;
}

.not-front .navbar-inverse .navbar-toggle .icon-bar {
    background-color: white;
}

#navbar li {
    margin-right: 15px;
    text-transform: uppercase;
}

#navbar li a,
#navbar .navbar-brand {
    color: #333333;
    text-transform: uppercase;
    padding-bottom: 30px;
    padding-top: 30px;
}

#navbar li.active a {
    background-color: #e7e7e7;
}

#navbar .btn {
    color: #333;
    border: #333 1px solid;
    padding: 10px 30px;
    margin-top: 5px;
    font-size: 18px;
}

#navbar li a:hover, #navbar .navbar-brand:hover {
    color: #4285f4;
}

#navbar .btn:hover {
    color: #4285f4;
    border: #4285f4 1px solid;
    background: #FFF;
}

.not-front #navbar {
    background: #355383;
}

.not-front #navbar li a,
.not-front #navbar .navbar-brand {
    color: white;
}

.not-front #navbar li a:hover,
.not-front #navbar li.active a {
    background: #1c2c47;
    color: white;
}

#sponsors {
    margin-bottom: 30px;
}

.btn-danger {
    background-color: #ff5a5f;
    color: #FFF;
    border: #FFF 1px solid;
}

.btn-danger:hover {
    border: #fff 1px solid;
}

h1 {
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}

#searchbox {
    background: #355383 url(../images/baner.png) no-repeat center center;
    margin-bottom: 40px;
}

#searchbox h1 {
    color: #FFF;
}

#searchbox p {
    color: #FFF;
}

#searchbox p a {
    color: #FFF;
    text-decoration: underline;
}

#searchbox .input-group {
    margin-top: 60px;
}

#searchbox input.form-control {
    color: #939391;
    font-size: 20px;
    padding: 10px;
    height: 42px;
    border: #fff 1px solid;
}

#searchbox .btn {
    font-size: 20px;
    height: 42px;
}

.regularSearch {
    margin-top: 20px;
    max-width: 250px;
}

.regularSearch input,
.regularSearch .btn {
    height: 40px;
}

#pep-search .typeahead.dropdown-menu li {
    border-bottom: #F1F1F1 1px solid;
    width: 100%;
}

#pep-search .typeahead.dropdown-menu li:last-child {
    border-bottom: none;
}

#pep-search .typeahead.dropdown-menu li a {
    color: black;
    padding: 10px 20px;
    text-transform: uppercase;
}

#pep-search .typeahead.dropdown-menu li a strong {
    font-weight: normal;
    font-family: 'arsenalbold';
    color: #ff5a5f;
}

#pep-search .typeahead.dropdown-menu li.active a {
    background: #355383;
    color: white;
}

#navbar .regularSearch ul {
    right: 0;
    left: auto !important;
}

#navbar .regularSearch ul li {
    float: left;
    position: relative;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

#navbar .regularSearch ul li a {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

#navbar .regularSearch .btn {
    margin-top: 0;
    padding: 0 10px;
    background: #4285f4;
    border: #4285f4 1px solid;
}

.not-front #navbar .regularSearch .btn {
    background: #e9e9e9;
    border: #e9e9e9 1px solid;
}

#navbar .regularSearch .btn i {
    color: white;
}

.not-front #navbar .regularSearch .btn i {
    color: #355383;
}

.square {
    max-width: 100%;
}

.card {
    margin-bottom: 100px;
}

.card {
    font-size: 20px;
    padding: 0;
    text-transform: uppercase;
    display: table;
}

.card a {
    display: table-cell;
    vertical-align: middle;
    border: #4185f4 1px solid;
    padding: 0 15px;
}

.card i {
    display: block;
    margin-bottom: 20px;
}

.card i, .card a {
    color: #4185f4;
    text-decoration: none;
}

.card a:hover {
    background-color: #ff5a5f;
    color: #fff;
    border: #fff 1px solid;
}

.card a:hover i {
    color: #fff;
}

#profile-nav ul {
    padding-left: 0;
}

#profile-nav li {
    list-style: none;
    width: 100%;
}

#profile-nav li a {
    width: 100%;
    white-space: normal;
    min-height: 48px;
    text-align: left;
}

#profile-nav li i {
    margin-right: 20px;
    float: left;
    padding-top: 5px;
    padding-bottom: 10px;
}

.box {
    background: none repeat scroll 0 0 #fff;
    border: 0 none;
    border-radius: 2px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
    padding: 24px;
    margin-bottom: 40px;
}

#profile-wrap.box {
    margin-top: 10px;
    background: #fff url(../images/plashka.png) no-repeat top;
    padding: 30px;
}

#profile-wrap .avatar {
    float: left;
    margin-right: 50px;
}

.pep-name {
    font-size: 28px;
    margin-top: 10px;
}

.pep-name,
.pep-name a {
    color: #FFFFFF;
}

.pep-pib {
    display: block;
    text-transform: none;
}

#profile .profileActions {
    position: absolute;
    margin-top: -15px;
    left: auto;
    right: 0;
    margin-right: 30px;
}

#profile .profileActions li {
    list-style: none;
    float: left;
    margin-left: 10px;
}

#profile .profileActions li a {
    color: white;
    font-size: 18px;
    padding: 2px 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#profile .profileActions li a:hover {
    background: white;
    color: #428bca;
}

#profile .profile-header {
    margin-bottom: 40px;
}

#profile .sub {
    display: block;
    width: 100%;
    clear: both;
}

#profile-wiki p {
    text-align: justify;
}

#profile .sub h3 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    color: #ff5a5f;
}

#profile .sub h4 {
    font-weight: bold;
}

#profile td {
    vertical-align: middle;
}

#personal {
    padding-left: 178px;
    padding-right: 60px;
}

#personal table tr:first-child td {
    border: none;
}

#personal td:nth-child(1) {
    font-size: 14px;
    color: #6a6a6a;
    min-width: 140px;
}

#search-results h2 {
    clear: both;
    float: none;
    width: 100%;
    padding-top: 80px;
}

#search-results h2:first-child {
    padding-top: 0;
}

.small-profile {
    padding-bottom: 30px;
}

.small-profile .box {
    padding: 20px 20px 5px 20px;
    background: #fff url(../images/plashka.png) no-repeat 0 -48px;
    min-height: 140px;
    height: 100%;
}

.small-profile a {
    color: #333;
}

.small-profile .box {
    cursor: pointer;
}

.small-profile .box:hover {
    box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.23), inset 0 3px 10px rgba(0, 0, 0, 0.16);
}

.small-profile img {
    height: 100px;
    width: auto;
}

.small-profile .avatar {
    margin-right: 20px;
    display: block;
    height: 100px;
    width: 100px;
    float: left;
    background-size: cover;
    background-color: #e9e9e9;
    background-repeat: repeat;
}

.small-profile h3 {
    font-family: 'arsenalregular';
    font-weight: normal;
    font-size: 20px;
    margin-top: 0;
    text-transform: uppercase;
}

.small-profile h3 span {
    text-transform: capitalize;
}

.small-profile .descr {
    margin-left: 120px;
}

.small-profile .descr p {
    margin-bottom: 10px;
    font-size: 14px;
}

.small-profile .descr span {
    font-weight: bold;
}

.small-profile .descr span.small-tip {
    font-size: 12px;
    margin-left: -45px;
    color: #7B7B7B;
}

.small-profile span.riskLevel {
    font-weight: normal;
}

.small-profile .riskLevel.tip {
    display: none;
    position: absolute;
    background: white;
    bottom: -10px;
    padding: 5px 10px;
    color: #DF4500;
    font-family: 'arsenalitalic';
    line-height: 14px;
    font-size: 13px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}

.small-profile a:hover .riskLevel.tip {
    display: block;
}

.small-profile .descr {
    position: relative;
    display: block;
}

.small-profile.fizik .avatar {
    background-image: url(../images/short-avatar.png);
}

.small-profile.yurik .box {
    background: #fff url(../images/fplashka.png) no-repeat 0 -55px;
}

.small-profile.yurik .avatar {
    background-image: url(../images/short-avatar-yurik.png);
}

.small-profile.linked .box {
    background: #fff url(../images/lplashka.png) no-repeat 0 -55px;
}

.small-profile.linked .avatar {
    background-image: url(../images/short-avatar-linked.png);
}

.timeline .tl-date {
    font-family: 'arsenalbold';
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

#profile-suggest h3 {
    color: #ff5a5f;
    font-size: 18px;
}

#profile-suggest ul {
    padding-left: 0;
}

#profile-suggest li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 16px;
}

#side-profilemenu.affix {
    top: 50px;
}

.tree {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fbfbfb;
    border: 1px solid #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.tree li {
    list-style-type: none;
    margin: 0;
    padding: 10px 5px 0 5px;
    position: relative;
}

.tree li a {
    font-size: 12px;
}

.tree li::before, .tree li::after {
    content: '';
    left: -20px;
    position: absolute;
    right: auto;
}

.tree li::before {
    border-left: 1px solid #999;
    bottom: 50px;
    height: 100%;
    top: 0;
    width: 1px;
}

.tree li::after {
    border-top: 1px solid #999;
    height: 20px;
    top: 25px;
    width: 25px;
}

.tree li span {
    display: inline-block;
    text-decoration: none;
}

.tree li .info-gray {
    font-size: 16px;
}

.tree li span:first-child {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 3px 8px;
    font-size: 20px;
    font-weight: normal;
}

.tree li span:first-child span {
    border: none;
    padding: 0;
}

.tree li span span {
    padding: 0;
}

.tree li.parent_li > span {
    cursor: pointer;
}

.tree > ul > li::before, .tree > ul > li::after {
    border: 0;
}

.tree li:last-child::before {
    height: 25px;
}

.tree li.parent_li > span:hover {
    background: #eee;
    border: 1px solid #94a0b4;
    color: #000;
}

.h li {
    display: none;
}

.mc {
    margin-left: auto;
    margin-right: auto;
}

.is_pep {
    font-weight: bold;
}

.antac-logo {
    margin-top: 15px;
    float: right;
    height: auto;
}

.description {
    max-width: 800px;
    margin: 0 auto;
}

.description p {
    margin: 10px 0;
}

#hp-columns h3 {
    text-align: center;
}

.modalConnectionShow .info-gray {
    color: rgba(0, 0, 0, 0.65);
}

.modal-header {
    background: #fff url(../images/plashka.png) no-repeat top;
    color: white;
}

.fa-pencil-square-o {
    color: red;
}

#cs100 {
    display: none;
}

#footerInfo p {
    margin-top: 0;
}

#languageSelect {
    float: right;
    top: 25px;
    margin-right: 20px;
}

#languageSelect button {
    background: none;
    border: none;
}

#languageSelect .dropdown-menu {
    min-width: 0;
    left: auto;
    padding: 0;
}

#languageSelect .dropdown-menu > li {
    padding: 3px 4px;
    margin: 0;
}

#languageSelect .dropdown-menu > li > a {
    padding: 0;
    margin: 0;
}

.languageMenu li {
    display: inline;
    float: left;
    margin-right: 10px;
}

#navbar li.edit-page {
    margin: 0;
}

#send-form {
    display: block;
    width: 200px;
    position: fixed;
    z-index: 999;
    right: 50px;
    background: #355383;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    transform: translateY(-30px);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#send-form.open {
    bottom: 0;
    transform: translateY(0);
    width: 400px;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.9);
}

#send-form.open.filled {
        bottom: -300px;
}

#send-form header a {
    padding-top: 3px;
    height: 30px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    width: 100%;
}

#send-form .btn-close {
    display: none;
    left: -35px;
    font-size: 26px;
    position: absolute;
    color: #ff5a5f;
}

#send-form.open .btn-close {
    display: block;
}

.form-content {
    width: 100%;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    height: 100%;
}

.form-content .form {
    background: white;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.form-content .form h3 {
    text-align: center;
}

.form-content form {
    opacity: 0;
}

#send-form textarea {
    resize: none;
}

#send-form .form-group {
    margin-bottom: 5px;
}

#send-form.open form {
    opacity: 1;
}

.g-recaptcha {
    transform: scale(0.75);
}

ul.errorlist {
    margin-bottom: 0;
    padding: 0;
}

.errorlist li {
    list-style-type: none;
    color: #d9534f;
    padding: 0;
    font-size: 12px;
}

#declarations table {
    border: none;
}

#declarations th {
    vertical-align: middle;
    border-top: 1px solid #ddd;
}

td.decl-year,
td.decl-income,
td.decl-familyincome {
    white-space: nowrap;
}

#declarations .decl-download {
    border-top: none;
    border-bottom: none;
    border-right: none;
    background: none;
    padding: 5px 15px;
    text-align: center;
}
